/*
    N@TuRe - UI Controls theme

    File name: ui_controls.css
    Description: This file contains the UI Controls theme CSS.

    Coded by George Delaportas (G0D)
    Copyright © 2013 - 2024
    Open Software License (OSL 3.0)
*/

#action_icons
{
    float: left;
    clear: none;
    mix-blend-mode: screen;
    width: 65px;
    height: 100%;
    margin-left: 43px;
    margin-right: 27px;
}

.windows_placement
{
    float: right;
    margin-top: 13px;
}

.boxify_all
{
    background-image: url('pix/boxify.png');
    width: 21px;
}

.stack_all
{
    background-image: url('pix/stack.png');
    width: 24px;
}
