/*
    N@TuRe - Integrated Twitter theme (Default)

    File name: default.css
    Description: This file contains the Integrated Twitter default theme CSS.

    Coded by George Delaportas (G0D/ViR4X)
    Copyright © 2014 - 2021
    Open Software License (OSL 3.0)
*/

/* Twitter Bee Styling */

#twitter_app_data
{

    font-family: Arial, sans-serif;

}

.twitter_app_icon
{

    background-image: url('/framework/extensions/js/i_twitter/themes/pix/logo.png') !important;
    margin-left: 0px;
    margin-top: 0px;
    height: 30px;
    width: 30px;
    border-radius: 5px;

}

.twitter_app_status_bar
{

    background-color: #2CC0B8;

}

#twitter_app_msg
{

    width: 300px;

}

#twitter_app_casement_icon 
{
    
    background-image: url('/framework/extensions/js/i_twitter/themes/pix/casement_twitter.png') !important;
    width: 62px;
    height: 46px;
    top: 2px;
    position: absolute;
    margin-left: 10px;

}

#twitter_app div#twitter_status_bar_menu_icon
{

    position: absolute;
    right: 5px;
    bottom: 5px;

}

#twitter_app img#twitter_status_bar_bullets
{

    cursor: pointer;
    background-color: #FFFFFF;

}

#twitter_app img#twitter_status_bar_bullets:hover
{

    background-color: #078980;

}


/* END OF Twitter Bee Styling */

/* Twitter Bee Casement Styling */

#twitter_app_casement
{

    

}

#twitter_app_casement_title 
{
    
    padding-left: 60px;
    background-image: url('/framework/extensions/js/i_twitter/themes/pix/casement_twitter.png') !important;
    background-repeat: no-repeat;
    background-position-x: 20px;
    background-position-y: 2px;
    padding-left: 90px;

}

#twitter_app_casement_data
{

    background-color: #35BAB2;
    color: #FFFFFF;

}

/* END OF - Twitter Bee Casement Styling */

/* Twitter Login Area */

#twitter_app #twitter_login_div
{

    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: 100%;

}

#twitter_app div#twitter_login_login_greyos
{

    margin: 0 auto;
    background-image: url(/framework/extensions/js/i_twitter/themes/pix/greyos_twitter.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 40%;
    width: 100%;

}

#twitter_app div#twitter_login_button_div
{

    margin: 0 auto;
    height: 80px;
    width: 100%;
    background-color: #ECECEC;
    text-align: center;
    position: absolute;
    left: 0;
    border-radius: 12px;

}

#twitter_app input#twitter_access_token
{

    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(22,107,128,.2);
    border: 1px solid rgba(146,146,146,.44);
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #5C5C5C;
    width: 155px;
    height: 40px;
    margin-top: 20px;
    outline: none;
    cursor: pointer;

}

#twitter_app input#twitter_access_token:hover
{

    opacity: 0.8;

}

#twitter_app img#twitter_access_token_background
{

    position: absolute;

}

/* END OF Twitter Login Area */

/* Twitter Navigation Menu Styling */

#twitter_app #twitter_main_bottom_navigation
{

    display: none;
    list-style: none; 
    padding: 2px;
    margin: 0px;
    position: absolute;
    bottom: 101.8%;
    width: 100%;
    height: 30px;
    left: 0;
    z-index: 1;
    background-color: #71D5CE;

}

#twitter_app nav ul li 
{ 

    display: inline-block;
    float: left;
    padding: 5px; 
    margin: 0px

}

#twitter_app nav ul li a
{

    border: none;

}

#twitter_app nav ul li.active
{ 

    opacity: 0.5;
    background-color: #5C5C5C;
    border-radius: 4px;

}

#twitter_app nav ul li:hover
{ 

    background-color: #5C5C5C;
    border-radius: 4px;

}

#twitter_app div#twitter_menu_separator_div
{

    width: 1px; 
    background-color: #FFFFFF;
    height: 19px;

}

#twitter_app li#twitter_menu_separator_li:hover
{

    background-color: #71D5CE;
    border-radius: none;

}

/* END OF - Twitter Navigation Menu Styling */

/* Twitter Actual Tweet Styling */

#twitter_app .tweet
{

    font-size: 14px;
    min-height: 80px;
    height: auto;
    width: 100%;
    cursor: pointer;
    float: left;

}

#twitter_app .tweet:hover
{

    background-color: #C2ECEA;

}

#twitter_app .tweet:hover .tweet_actions
{

    border-color: #5C5C5C;

}

#twitter_app .tweet:hover .tweet_action
{

    background-color: #5C5C5C;

}

#twitter_app .tweet:hover .tweet_user_profile_image img
{

    border-color: #FFFFFF;

}


#twitter_app .tweet_content
{
    min-height: 59px;
    height: auto;
}

#twitter_app .tweet_content a:hover
{

    opacity: 0.7;

}

#twitter_app .tweet_content_left
{

    width: 60px;
    float: left;
    height: 59px;

}

#twitter_app .tweet_user_profile_image
{

    width: inherit;
    padding: 5px;   

}

#twitter_app .tweet_user_profile_image img
{

    border: 1px solid #35BAB2;

}

#twitter_app .tweet_time
{

    width: inherit;
    font-size: 11px;
    text-align: center;

}

#twitter_app .tweet_content_right
{

    width: 235px;
    min-height: 59px;
    float: right;

}

#twitter_app .tweet_user_information
{

    height:20px;
    width: inherit;
    margin-top: 5px;
    font-size: 15px;
    font-weight: bold;

}

#twitter_app .tweet_user_screen_name
{

    font-size: 12px;
    color: #35BAB2;
    font-weight: 100;

}

#twitter_app .tweet_text
{

    width: inherit;
    height: inherit;
    font-size: 12px;
    line-height: 14px;
    padding-bottom: 10px;

}

#twitter_app .tweet_text a
{

    color: #35BAB2;

}

#twitter_app .tweet_actions
{

    width: 100%;
    height: 20px;
    border-bottom: 1px solid #35BAB2;
    float: left;

}

#twitter_app .tweet_action
{

    float: right;
    background-color: #35BAB2;
    font-size: 12px;
    padding: 2px 4.5px;

}

#twitter_app .tweet_action img
{
    
    padding-right: 3px;

}

#twitter_app .tweet_action a
{
    
    color: #FFFFFF;

}

#twitter_app .tweet_action a:hover
{

    color: #C2ECEA;

}

/* END OF - Twitter Actual Tweet Styling */

/* Twitter More Buttons Styling */

#twitter_app #tweet_feed_bottom_actions
{

    float: left;
    width: 302px;
    height: auto;
    padding-top: 40px;

}

#twitter_app #twitter_more_button
{
    
    background-color: #35BAB2;
    color: white;
    padding: 5.4px 12px;
    float: left;

}

#twitter_app #twitter_back_to_top
{

    float: right;
    background-color: #35BAB2;
    padding: 0px 2px;

}

#twitter_app #twitter_more_button:hover, #twitter_app #twitter_back_to_top:hover
{

    background-color: #5C5D5D;

}

/* END OF - Twitter More Buttons Styling */

/* Twitter Tweet Reply Form */

#twitter_app .tweet_reply_form
{

    width: 302px;
    float: left;
    height: 70px;
    background-color: #eee;
    display: none;

}

#twitter_app .tweet_reply_form_close
{

    float: left;
    width: 50px;
    padding: 5px;
    text-align: center;
    color: #FFFFFF;
    background-color: #35BAB2;
    font-size: 12px;
    font-weight: bold;

}

#twitter_app .tweet_reply_form_counter
{

    width: 50px;
    padding: 1px 5px;
    text-align: center;
    color: #FFFFFF;
    background-color: #5C5D5D;
    font-size: 12px;
    font-weight: bold;

}

#twitter_app .tweet_reply_form_reply
{

    float: left;
    width: 50px;
    padding: 5px;
    text-align: center;
    color: #FFFFFF;
    background-color: #35BAB2;
    font-size: 12px;
    font-weight: bold;
    
}

#twitter_app .tweet_reply_form_textarea
{

    float: right;
    width: 236px;
    resize: none;
    height: 63px;
    border: 1px solid #35BAB2;
    outline: none;
    font-family: Arial, sans-serif;

}

#twitter_app .tweet_reply_form_close:hover, #twitter_app .tweet_reply_form_reply:hover
{

    background-color: #C2ECEA;
    color: #5C5D5D;

}

/* END OF - Twitter Tweet Reply Form */


/* Twitter Header Statistics */

#twitter_app #twitter_user_statistics
{
    
    height: 45px;
    width: 100%;
    background-color: #35BAB2;
    color: #FFFFFF;

}

#twitter_app .twitter_statistic
{
    
    height: 35px;
    width: 33%;
    float: left;
    border-right: 1px solid #FFFFFF;
    margin-top: 5px; 
    cursor: pointer;   

}

#twitter_app .twitter_statistic:hover
{

    color: #5C5C5C;
    
}

#twitter_app .twitter_statistic_number
{

    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 2px;
    font-size: 15px;
    font-weight: bold;

}

#twitter_app .twitter_statistic_section
{

    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;

}

/* END OF - Twitter Header Statistics */

/* Twitter Main Response Data Styling */

#twitter_app #twitter_main_response_data
{

    height: 363px;
    width: 100%;
    font-size: 12px;
    line-height: 16px;
    margin-top: 5px;

}

/* END OF - Twitter Main Response Data Styling */

/* Twitter Search Results Styling */

#twitter_app #search_result_heading
{

    width: 100%;
    float: left;
    background-color: #5C5D5D;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;

}

#twitter_app #search_results_query
{

    color: #35BAB2;

}

/* END OF - Twitter Search Results Styling */

/* Twitter User Feed Row */

#twitter_app .user
{

    width: 100%;
    min-height: 80px;
    border-bottom: 1px solid #35BAB2;
    cursor: pointer;

}

#twitter_app .user:hover
{

    background-color: #C2ECEA;
    border-bottom: 1px solid #5C5D5D;

}

#twitter_app .user:hover .user_action
{

    background-color: #5C5D5D;

}

#twitter_app .user .user_top
{

    width: 100%;
    min-height: 60px;

}

#twitter_app .user .user_left
{

    width: 60px;
    float: left;

}

#twitter_app .user .user_profile_image
{

    padding: 5px;

}

#twitter_app .user .user_right
{

    width: 240px;
    float: right;

}

#twitter_app .user .user_information
{

    height:20px;
    width: inherit;
    margin-top: 5px;
    font-size: 15px;
    font-weight: bold;

}

#twitter_app .user .user_screen_name
{

    font-size: 12px;
    color: #35BAB2;
    font-weight: 100;

}

#twitter_app .user .user_description
{

    font-style: italic;

}

#twitter_app .user .user_bottom
{

    width: 100%;
    height: 22px;
    clear: both;

}

#twitter_app .user .user_action
{

    float: right;
    color: #FFFFFF;
    background-color: #35BAB2;
    padding: 3px 5px;

}

/* END OF - Twitter User Feed Row */



/* Twitter Suggestions */

#twitter_app .suggestion
{
    
    height: 40px;
    width: 100%;
    border-bottom: 2px solid #35BAB2;

}

#twitter_app .suggestion_slug
{

    margin: 10px 10px 10px 5px;
    font-size: 16px;
    font-weight: bold;

}

/* END OF Twitter Suggestions Section Styling */


#twitter_app #twitter_verified_profile_image
{

    border: none;

}

#twitter_app div.twitter_search 
{

    display: none;
    position: absolute;
	background: #71D5CE;
	width: 265px;
	top: 407px;
	height: 26px;
	z-index: 2;
	left: 2px;
	border-radius: 4px;
	padding: 5px;
    -moz-box-shadow: 0px 0px 9px #000000;
    -webkit-box-shadow: 0px 0px 9px #000000;
    box-shadow: 0px 0px 9px #000000;

}
#twitter_app div.twitter_search:after 
{

    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;

}

#twitter_app div.twitter_search:after 
{

    border-color: rgba(113, 213, 206, 0);
    border-top-color: #71D5CE;
    border-width: 5px;
    left: 96%;
    margin-left: -5px;

}

#twitter_app div.twitter_search input#search_box
{
    
    border-radius: 4px;
    border: none;
    width: 255px;
    height: 25px;
    font-size: 16px;
    color: #5C5C5C;
    padding: 0px 5px;
    font-family: Ubuntu;

}

#twitter_app #twitter_search #twitter_search_submit
{

    padding: 5px; 
    border: 1px solid #35BAB2; 
    color: #FFFFFF;
    border-radius: 5px;
    background-color: #35BAB2;
    cursor: pointer;

}

#twitter_app #twitter_search #twitter_search_submit:hover
{

    opacity: 0.8;

}

#twitter_app h3#twitter_search_result_heading
{

    color: #35BAB2;
    background-color: #5C5C5C;
    padding: 10px;
    margin: 0;
    font-size: 13px;

}

#twitter_app h3#twitter_search_result_heading span#twitter_search_query
{

    color: #FFFFFF;

}

#twitter_app p
{

    padding-bottom: 12px;

}

#twitter_app div.twitter_user_profile_header
{

    text-align: center;
    border-radius: 5px 5px 0px 0px; 
    max-width: 320px; 
    min-height: 160px;  
    margin: 0 auto;

}

#twitter_app div.twitter_user_profile_header p.user
{

    margin: 0 auto;
    width: 302px;

}

#twitter_app div.twitter_user_profile_header p.user #twitter_user_profile_image
{

    border: 1px solid #FFFFFF; 
    margin-top: 10px;
    cursor: pointer;

}

#twitter_app div.twitter_user_profile_header p.user #twitter_user_profile_image:hover
{

    border-color: #35BAB2;

}

#twitter_app div.twitter_user_profile_header p.user #twitter_verified_profile_image
{

    border: none;
    margin-left: 5px;

}

#twitter_app div.twitter_user_profile_header p.user span#name
{

    font-size: 18px; 
    font-weight: bold; 
    color: #FFFFFF;
    cursor: pointer;

}

#twitter_app div.twitter_user_profile_header p.user span#name:hover
{

    text-shadow: 3px 3px 6px #000000; 

}

#twitter_app div.twitter_user_profile_header p.user span#screen_name
{

    text-shadow: 3px 3px 6px #000000; 
    font-size: 13px; 
    font-weight: bold; 
    color: #FFFFFF;
    cursor: pointer;

}

#twitter_app div.twitter_user_profile_header p.user span#description
{

    font-style: italic;
    color: #FFFFFF; 
    text-shadow: 3px 3px 6px #000000;
    font-size: 10px;

}

#twitter_app div.twitter_user_profile_header a.user_timeline_follow
{

    color: #FFFFFF;
    background-color: #2BBDB2;
    padding: 5px 10px;
    position: absolute;
    right: 0;
    top: 0px;
    min-width: 54px;
    border-radius: 0px 5px;

}

#twitter_app div.twitter_user_profile_header a.user_timeline_follow:hover
{

    background-color: #5B5B5B;

}

#twitter_app div.twitter_user_profile_header a#user_timeline_tofollow
{

    padding: 0px 10px;

}

#twitter_app div.twitter_user_profile_header a#user_timeline_tofollow span
{

    position: relative;
    float: right;
    margin-top: 5px;

}

#twitter_app div.twitter_header_statistics
{

    width: 302px;
    margin: 0 auto; 
    background-color: #EAEAEA; 
    border-radius: 0px 0px 5px 5px; 
    border-top: 4px solid #2BBDB2;

}

#twitter_app div.twitter_header_statistics table
{

    width: 100%;
    text-align: center;

}

#twitter_app div.twitter_header_statistics table tr td
{

    padding: 10px; 
    border-right: 1px solid #2BBDB2;

}

#twitter_app div.twitter_header_statistics table tr td#followers
{

    padding: 10px; 
    border: none;

}

#twitter_app div.twitter_header_statistics table tr td span#number
{

    font-size: 18px;
    font-weight: bold;
    color: #5B5B5B;

}

#twitter_app div.twitter_header_statistics table tr td span
{

    color: #2BBDB2;

}


#twitter_app div.token
{

    visibility: hidden;
    display: none;
    opacity: 0;

}

#twitter_app #reload
{

    cursor: pointer;

}

#twitter_app .logout
{

    float: right;
    margin-right: 6px;
    display: inline-block;

}

#twitter_app #tweet_favorited_from_me img
{

    position: absolute;
    right: 0px;

}

/* Twitter Share Via Email Overlay Styling */

#twitter_app #twitter_share_via_email_overlay
{

    font-family : 'Helvetica Neue', Arial, sans-serif;
    display: none;
    position: absolute;
    top: 36.5%;
    left: 3.5%;
    background-color: #35BAB2;
    width: 325px;
    height: 210px;      
    z-index: 100;
    -moz-box-shadow: 0px 0px 2px #000000;
    -webkit-box-shadow: 0px 0px 2px #000000;
    box-shadow: 0px 0px 2px #000000;

}
#twitter_app div#twitter_response_data_fade
{

    display: none;
    position: absolute;
    left: 2.5%;
    top: 20%;
    background-color: black;
    -moz-opacity: 0.7;
    opacity: .70;
    filter: alpha(opacity=70);
    width: 332px;
    height: 372px;
    z-index: 1;

}
#twitter_app div#twitter_share_via_email_sender
{

    color: #FFFFFF;
    width: auto;
    padding: 5px;
    font-size: 13px;

}
#twitter_app div#twitter_share_via_email_sender span
{

    color: #5B5B5B;

}
#twitter_app  a#twitter_share_via_email_close_button
{

    position: absolute;
    top: 4px;
    right: 4px;

}
#twitter_app  a#twitter_share_via_email_close_button:hover
{

    opacity: 0.8;

}
#twitter_app div#twitter_share_via_email_recipient
{

    width: auto;
    padding: 5px 0px 5px 5px;
    font-size: 13px;
    color: #5B5B5B;

}
#twitter_app div#twitter_share_via_email_recipient span
{

    width: 20px;

}
#twitter_app div#twitter_share_via_email_recipient input#twitter_share_via_email_recipients
{

    width: 283px;
    outline: none;
    border: none;
    padding: 2px 5px;
    color: #5B5B5B;

}
#twitter_app div#twitter_share_via_email_tweet_to_send
{

    width: 315px;
    margin: 5px;    
    background-color: #FFFFFF;
    height: 137px;

}
#twitter_app div#twitter_share_via_email_tweet_to_send textarea#twitter_share_via_email_comment
{

    width: 250px;
    margin: 4px;
    border: none;
    outline: none;
    color: #5B5B5B;
    resize: none;

}
#twitter_app div#twitter_share_via_email_tweet_to_send  input#twitter_share_via_email_submit_email
{

    float: right;
    margin: 5px 5px 0px 0px;
    width: 44px;
    background-color: #5B5B5B;
    border: none;
    padding: 8px 0px;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
    outline: none;

}
#twitter_app div#twitter_share_via_email_tweet_to_send  input#twitter_share_via_email_submit_email:hover
{

    opacity: 0.8;

}
#twitter_app div#twitter_share_via_email_actual_tweet
{

    font-size: 12px;
    padding: 3px;

}
#twitter_app div#twitter_share_via_email_actual_tweet div#twitter_share_via_email_actual_tweet_left_side
{

    float: left;

}
#twitter_app div#twitter_share_via_email_actual_tweet div#twitter_share_via_email_actual_tweet_left_side img
{

    border: 1px solid #5B5B5B;

}
#twitter_app div#twitter_share_via_email_actual_tweet div#twitter_share_via_email_actual_tweet_right_side
{

    float: none;
    margin-left: 55px;

}
#twitter_app div#twitter_share_via_email_tweet_created
{

    width: 50px;

}
#twitter_app div#twitter_share_via_email_tweet_created span#twitter_share_via_email_time_created
{

    font-size: 10px;
    color: #5B5B5B;
    opacity: 0.8;
    width: 50px;
    text-align: center;
    display: block;
    margin: 0 auto;

}
#twitter_app div#twitter_share_via_email_actual_tweet_right_side div#twitter_share_via_email_tweet_username
{

    color: #58C9C2; 

}
#twitter_app div#twitter_share_via_email_actual_tweet_right_side div#twitter_share_via_email_tweet_username span
{

    font-size: 14px;
    font-weight: bold;
    color: #5B5B5B;

}
#twitter_app div#twitter_share_via_email_actual_tweet div#twitter_share_via_email_actual_tweet_right_side div#twitter_share_via_email_tweet_content
{

    margin-top: 5px;

}

/* END OF Twitter Share Via Email Overlay Styling */
