/*
    N@TuRe - Hive theme

    File name: hive.css
    Description: This file contains the Hive theme CSS.

    Coded by George Delaportas (G0D)
    Copyright © 2013 - 2021
    Open Software License (OSL 3.0)
*/

.hive
{
    display: block;
    visibility: hidden;
    position: absolute;
    font-size: 12px;
    height: 85px;
    min-height: 85px;
    margin-left: auto;
    margin-right: auto;
    z-index: 2147483644;
}

.hive_bee
{
    display: block;
    float: left;
    width: 230px;
    margin: 2px !important;
}

.box_ctrl_border
{
    border-color: #FFFFFF;
}

.stack_arrow
{
    cursor: pointer;
    width: 32px;
    height: 85px;
    opacity: 0.5;
}

.left_arrow
{
    float: left;
    background-image: url('pix/previous_arrow.png');
}

.left_arrow:hover
{
    background-image: url('pix/previous_arrow_hover.png');
}

.right_arrow
{
    float: right;
    background-image: url('pix/next_arrow.png');
}

.right_arrow:hover
{
    background-image: url('pix/next_arrow_hover.png');
}

.stack_bar
{
    position: relative;
    float: left;
    left: 20px;
    height: 85px;
    border-radius: 12px;
    overflow: hidden;
}

.sliding_box
{
    position: relative;
    left: 0px;
    height: 85px;
}

.honeycomb
{
    position: relative;
    float: left;
    clear: none;
    left: 0px;
    height: 85px;
    margin-right: 20px;
    background-color: #474d4d7d;
    border-radius: 12px;
    padding-top: 3px;
}

.ghost_bee
{
    display: none;
    position: absolute;
    font-size: 12px;
    width: 244px;
    height: 42px;
    opacity: 0.7;
    z-index: 2147483645;
}
