ul.fbcm { list-style: none; margin: 0px; padding: 0px; }
ul.fbcm li { float: left; }
ul.fbcm li img { border: 1px solid #ffffff; }

ul.fbcfm { list-style: none; margin: 0px; padding: 0px; }
ul.fbcfm li { height: 26px; padding: 2px; cursor: pointer; clear: left; }
ul.fbcfm li:hover { background-color: #ccc; }
ul.fbcfm li div { float: left; }
ul.fbcfm li div.pic {  }
ul.fbcfm li div.name { padding-left: 7px; font-weight: bold; padding-top: 3px; }
ul.fbcfm li img { border: none; }

.fbcLaunch { cursor: pointer; }
.fbcClear { clear: left; }
.offmsg { font-size: 12px; text-align: center; padding-top: 20px; }

.cb { position: fixed; position: expression("absolute"); width: 250px; display: none; border: none; text-align: left; background-color: #f5f5f5; }
.cb .cbh { position: relative; background-color: #333; padding: 5px; color: #999; }
.cb .cbt { width: 100%; float: left; }
.cb .cbt a { text-decoration: none; color: #f8f8f8; font-weight: bold; font-family: Verdana,Arial,"Bitstream Vera Sans",sans-serif; }
.cb .cbt a:hover { text-decoration: underline;}
.cb .cbt img#setts { position: absolute; top: 8px; right: 28px; cursor: pointer; }
.cb .cbt img#close { position: absolute; top: 8px; right: 6px; cursor: pointer; }
.cb .tc { width: 195px; cursor: pointer; }
.cb .cbb { background-color: #666666; color: #f8f8f8; }
.cb .cbc { font-family: arial,sans-serif; font-size: 13px; color: #333333; height: 200px; width: 234px; overflow-y: auto; overflow-x: auto; padding: 7px; background-color: #ffffff; line-height: 1.3em; text-align: left; border: 1px solid #ccc; border-bottom: none; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05); -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05); box-shadow: inset 0 1px 1px rgba(0,0,0,0.05); }
.cb .cbi { padding: 0px; background-color: #ffffff; border: 1px solid #ccc; border-bottom: none; }
.cb .cbta { width: 245px; height: 20px; padding: 3px 0pt 3px 3px; margin: 0px; overflow: hidden; border-top: 1px solid #ccc; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05); -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05); box-shadow: inset 0 1px 1px rgba(0,0,0,0.05); background-color: #fff; color: #000; }
.cb .cbtasel {}
.cb .cbmsg { margin-left:1em; }
.cb .cbinf { margin-left: -1em; color: #666666; font-size: 11px; text-align: center; }
.cb .cbmsgfrm { margin-left:-1em; font-weight: bold; }
.cb .cbmsgcnt { word-wrap: break-word; }
.cb .cbopt { position: absolute; right: 10px; }
.cb .cbopt a { text-decoration: none; color: #999; font-weight: bold; font-family: Verdana,Arial,"Bitstream Vera Sans",sans-serif; }
.cb .chatembedcode { margin-left: -1em; padding-top: 5px; padding-bottom: 5px; }
.cb .settscnt { position: absolute; display: none; width: 240px; height: 60px; background-color: #f3f3f3; top: 30px; right: 1px; border-left: 1px solid #ccc; border-bottom: 1px solid #ccc; }

#cb_com { width: 200px; }
#cb_com .cbt { font-weight: bold; }
#cb_com .tc { width: 170px; cursor: pointer; }
#cb_com .cbt img#setts { position: absolute; top: 8px; right: 6px; cursor: pointer; }
#cb_com .cbc { font-family: arial,sans-serif; font-size: 13px; color: #333333; height: auto; min-height: 150px; max-height: 500px; width: 198px; overflow-y: auto; overflow-x: auto; padding: 7px 0px 7px 0px; background-color: #ffffff; line-height: 1.3em; text-align: left; border: 1px solid #ccc; border-bottom: none; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05); -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05); box-shadow: inset 0 1px 1px rgba(0,0,0,0.05); }

#cb_com .settscnt { position: absolute; display: none; width: auto; height: auto; background-color: #f3f3f3; top: 30px; right: 1px; border-left: 1px solid #ccc; border-bottom: 1px solid #ccc; }
#cb_com .settscnt ul { list-style: none; margin: 0px; text-align: right; }
#cb_com .settscnt li { list-style: none; padding: 5px; cursor: pointer; color: #000; font-size: 12px; }
#cb_com .settscnt li:hover { background-color: #ccc; }