@charset "utf-8";

/*
 * IE hack
*/
html, body {
    padding:0px;
    margin:0px;
    overflow:hidden; /* hide browser's main scrollbar */
    height:100%; /* make sure we'll use 100% of the page's height */
}

#FBChatMain {
    width:100%; /* make sure we'll use 100% of page's width */
    background: transparent; /* DO NOT REMOVE THIS; or you'll have issue w/ the scrollbar, when the mouse pointer is on a white space */
    overflow-x: hidden;
    overflow-y: scroll;
}
