<?xml version="1.0" encoding="utf-8"?>
<e107Plugin name="FB Chat" lan="LAN_PLUGIN__FB_CHAT_NAME" version="1.0" date="2013-11-21" compatibility="2.0" installRequired="true" >
    <author name="lonalore" url="http://lonalore.hu" />
    <summary lan="LAN_PLUGIN__FB_CHAT_SUMM">Facebook styled chat</summary>
    <description lan="LAN_PLUGIN__FB_CHAT_DESC">Facebook styled chat...</description>
    <keywords>
        <word>chat</word>
        <word>communication</word>
        <word>facebook</word>
    </keywords>
    <category>users</category>
    <copyright></copyright>
    <adminLinks>
        <link url="admin_config.php" description="" icon="images/fb_chat_32.png" iconSmall="images/fb_chat_16.png" primary="true" >LAN_CONFIGURE</link>
    </adminLinks>
    <pluginPrefs>
        <pref name='fb_chat_class'>253</pref>
        <pref name='fb_chat_menu_pic_w'>32</pref>
        <pref name='fb_chat_menu_pic_h'>32</pref>
        <pref name='fb_chat_launch'>fbcLaunch</pref>
        <pref name='fb_chat_hb_min'>3</pref>
        <pref name='fb_chat_hb_max'>30</pref>
        <pref name='fb_chat_hb_menu'>30</pref>
        <pref name='fb_chat_title'>1</pref>
        <pref name='fb_chat_title_link'>1</pref>
        <pref name='fb_chat_nopic'>{e_IMAGE}generic/blank_avatar.jpg</pref>
        <pref name='fb_chat_emote'>1</pref>
        <pref name='fb_chat_date_format'>short</pref>
        <pref name='fb_chat_clickable_links'>1</pref>
        <pref name='fb_chat_embed_videos'>1</pref>
        <pref name='fb_chat_fm'>1</pref>
    </pluginPrefs>
</e107Plugin>