/*
    GreyOS theme (Bubble Gum) [Default]

    File name: default.css
    Description: This file contains the GreyOS - Bubble Gum (default) CSS theme.

    Coded by George Delaportas (G0D)
    Copyright © 2013 - 2021
    Open Software License (OSL 3.0)
*/

/* Body */
body
{
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    background-color: #777B7C;
    background-image: url('pix/desktop.jpg');
    background-attachment: fixed;
    min-width: 1336px;
    min-height: 700px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Anchor */
a
{
    text-decoration: none;
    color: #A070A0;
}

/* Anchor [Hover] */
a:hover
{
    text-decoration: none;
    color: #9C95A1;
}

/* Input */
input
{
    border: 1px solid #CFCFCF;
}

/* Image */
img
{
    border: none;
}

/* List */
li
{
    font-weight: normal;
    list-style: disc;
    margin-bottom: 10px;
}

/* Option */
option
{
    width: 107px;
}

::-webkit-scrollbar
{
    width: 14px;
}

::-webkit-scrollbar-track
{
    background: #646266;
}

::-webkit-scrollbar-thumb
{
    background: #ffce3c;
}

::-webkit-scrollbar-thumb:hover
{
    background: #e8d3f7;
}

#keywords_area
{
    display: none;
}

#greyos
{
    width: 100%;
    height: 100%;
}

#top_panel
{
    background-color: #ffffff;
    padding-top: 2px;
}

#logo
{
    float: left;
    clear: left;
    background-image: url('pix/greyos.png');
    width: 250px;
    height: 10px;
    margin-left: 35px;
    margin-top: 18px;
}

#favorite_apps
{
    margin-left: 18px !important;
}

#my
{
    color: #23a2de !important;
}

#profile_info
{
    margin-top: 15px !important;
}

#user_reboot
{
    background-color: #279e70 !important;
}

#user_reboot:hover
{
    background-color: #32c089 !important;
}

#notifications_list
{
    height: 105px !important;
}

#logout
{
    margin-top: 10px !important;
}

#logout_icon
{
    margin-top: -4px !important;
}

#logout_button:hover
{
    color: #ffbc00;
}

#dynamic_container
{
    background-color: #F4F4F4;
    background-image: url('pix/top_panel/diagonal.jpg');
    background-position: left center;
    background-repeat: no-repeat;
    height: 40px;
    margin-top: 45px;
}

#search
{
    float: right;
    margin-right: 35px;
}

#eureka
{
    float: left;
    clear: right;
}

#eye
{
    float: left;
    clear: left;
    background-image: url('pix/icons/philos/eye.png');
    width: 30px;
    height: 15px;
    margin-top: 12px;
    margin-right: 10px;
}

#eureka_search_box
{
    font-size: 12px;
    height: 25px;
    padding: 0 7px;
    width: 235px;
    margin-top: 5px;
}

#desktop
{
    float: none;
    clear: both;
    color: #000000;
    min-height: 550px;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
}

#register_link
{
    color: #23a2de !important;
}

.actions
{
    float: left;
    clear: none;
}

.view_icons
{
    float: left;
    cursor: pointer;
    background-repeat: no-repeat;
    height: 20px;
    margin-right: 5px;
}

.placement_icons
{
    float: left;
    cursor: pointer;
    background-repeat: no-repeat;
    height: 20px;
    margin-right: 5px;
}

.tik_tok .clock_date
{
    margin-top: 4px !important;
}

.parrot
{
    margin-top: -3px !important;
}

.parrot .speaker
{
    filter: invert(0.5);
}

.parrot .volume
{
    color: #919191 !important;
}

.octopus
{
    margin-top: 6px !important;
}

.octopus .device
{
    filter: invert(0.5);
}

.octopus .notification
{
    background-color: #51a766c2 !important;
    border: 2px solid #589c75d1 !important;
    margin-top: 54px !important;
    margin-left: 198px !important;
}

.status_msg
{
    margin-top: 2px !important;
}

.casement_title
{
    background: #84cc30 !important;
}

.casement_status
{
    background: #e91e63 !important;
}

.box_close
{
    background-image: url('pix/icons/bee/window/close_1_1.png') !important;
}

.box_close:hover
{
    background-image: url('pix/icons/bee/window/close_1_2.png') !important;
}

.widget_close
{
    background-image: url('pix/icons/bee/window/close_2_1.png') !important;
}

.widget_close:hover
{
    background-image: url('pix/icons/bee/window/close_2_2.png') !important;
}

.resize
{
    background: url('pix/icons/bee/window/resize.png') no-repeat !important;
}

.menu_option:hover
{
    background-color: #398cda !important;
}

.error
{
    background-color: #EAC0AE !important;
}

.verify_msg
{
    text-align: center;
    font-size: 20px;
    color: #5C5C5C;
    width: 500px;
    border-bottom: solid 4px #35BAB2;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}
