/*
    N@TuRe - Krator theme

    File name: krator.css
    Description: This file contains the Krator theme CSS.

    Coded by George Delaportas (G0D)
    Copyright © 2021 - 2024
    Open Software License (OSL 3.0)
*/

.edit_win_title
{
    color: #5C5C5C !important;
}

.status_msg
{
    margin-top: 4px !important;
}

.krator_controls
{
    font-size: 14px;
}

.krator_controls .controls
{
    text-align: center;
    padding: 8px;
}

.krator_controls .control_item
{
    margin-bottom: 8px;
}

.control_item .text
{
    padding: 8px;
    border-radius: 6px;
}

.control_item .button
{
    border-radius: 6px;
    border: none;
    cursor: pointer;
    color: #1f1f1f;
    background-color: #fff061;
    margin-bottom: 10px;
    padding: 8px;
}

.control_item .button:hover
{
    background-color: #fff48d;
}

.registration_control
{
    margin-top: 5px;
}

.register_new_account
{
    cursor: pointer;
    color: #c9ff72;
    text-align: center;
    width: 150px;
    margin: auto;
}
