/*
    N@TuRe - Tik Tok theme

    File name: tik_tok.css
    Description: This file contains the Tik Tok theme CSS.

    Coded by George Delaportas (G0D)
    Copyright © 2013 - 2021
    Open Software License (OSL 3.0)
*/

.tik_tok
{
    display: none;
    float: right;
    clear: none;
    cursor: pointer;
    background-color: #FCFCFC;
    border-color: #F1F1F1;
    border-style: none solid;
    border-width: 2px;
    height: 39px;
    margin-top: -2px;
    margin-right: 28px;
    padding: 4px;
}

.tik_tok div
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.tik_tok .clock_time
{
    font-size: 14px;
    color: #9C95A1;
    font-weight: 500;
    width: 65px;
    margin-top: 4px;
}

.tik_tok .clock_date
{
    font-size: 12px;
    color: #919191;
    width: 65px;
    margin-top: 4px;
}
