/*
    N@TuRe - Infinity theme

    File name: infinity.css
    Description: This file contains the Infinity theme CSS.

    Coded by George Delaportas (G0D)
    Copyright © 2013 - 2023
    Open Software License (OSL 3.0)
*/

.infinity
{
    position: absolute;
    display: none;
    background-color: #ffffff;
    width: 100%;
    height: inherit;
    top: 0px;
    opacity: 0.8;
    margin-left: -3px;
}

.progress_indicator
{
    float: none;
    background-image: url('pix/infinity.gif');
    width: 80px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}
