/*
    GreyOS - Main CSS

    File name: main.css
    Description: This file contains the GreyOS - Main CSS.

    Coded by George Delaportas (G0D)
    Copyright © 2013 - 2021
    Open Software License (OSL 3.0)
*/

/* Body */
body
{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    user-select: none;
}

#boot_screen
{
    position: fixed;
    cursor: none;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #000000;
}

#boot_screen_content
{
    background-color: #30bfc3;
    border: 12px double white;
    text-align: center;
    width: 500px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(100vh/2 - 160px);
    padding: 40px;
}

#boot_screen img
{
    width: 80%;
    margin-top: 30px;
}

#boot_screen_message
{
    color: #FFFFFF;
    font-size: 18px;
    margin-top: 80px;
}

#loading_screen
{
    position: fixed;
    cursor: none;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #87b5be;
    z-index: 2147483647;
}

#loading_screen_content
{
    text-align: center;
    width: 500px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(100vh/2 - 180px);
    padding: 40px;
}

#loading_screen img
{
    width: 80%;
    margin-top: 30px;
    margin-bottom: 100px;
}

#loading_indicator
{
    position: relative;
    top: calc(100% + 10vh);
    color: #333333;
    width: 260px;
    text-align: center;
    letter-spacing: 12px;
    font-size: 30px;
    border-bottom: 12px dashed #ffffff;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

#f5_screen
{
    position: fixed;
    cursor: none;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #7f7f7f;
    z-index: 2147483647;
}

#f5_screen_content
{
    text-align: center;
    width: 500px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(100vh/2 - 180px);
    padding: 40px;
}

#f5_screen img
{
    width: 80%;
    margin-top: 30px;
}

#f5_screen_message
{
    color: #FFFFFF;
    font-size: 18px;
    margin-top: 80px;
}

#version
{
    float: right;
    font-size: 10px;
    color: #aaaaaac9;
    margin-top: 14px;
}

#user_profile
{
    float: right;
    clear: right;
    width: 182px;
    margin-top: 7px;
}

::selection
{
    color: #FFFFFF;
    background: #D5D5D5;
}

::-moz-selection
{
    color: #FFFFFF;
    background: #D5D5D5;
}
