/*

    GreyOS Inc. - Radio Dude theme
    
    Version: 1.2
    
    File name: radio_dude.css
    Description: This file contains the Radio Dude theme CSS.
    
    Coded by George Delaportas (G0D)
    
    GreyOS Inc.
    Copyright © 2014

*/



.radio_dude_icon
{

    background-image: url('/framework/extensions/js/radio_dude/themes/pix/radio_dude.png') !important;
    width: 30px;
    height: 30px;
    margin: 0px;

}

#radio_dude_streams
{

    height: 132px;

}

#radio_dude_stream_genres
{

    cursor: pointer;
    padding-left: 2px;

}

#radio_dude_stream_genres div
{

    list-style: none;
    color: #FFF;
    background-color: #35BAB2;
    margin-bottom: 1px;
    padding: 8px;

}

#radio_dude_stream_genres div:hover
{

    background-color: #5C5C5C;

}

.radio_dude_selected_stream
{

    color: #5C5C5C !important;
    background-color: #C2ECEA !important;

}

.radio_dude_status_bar
{

    background-color: #35BAB2;

}

.radio_dude_msg
{

    

}
