/*
    Banana theme

    File name: banana.css
    Description: This file contains the Banana theme CSS.

    Coded by George Delaportas (G0D)
    Copyright © 2013 - 2024
    Open Software License (OSL 3.0)
*/

#banana
{
    position: absolute;
    left: calc(100vw - 15px);
    top: 40%;
    color: #FFF;
    background: #ffffff30;
    text-align: center;
    width: 220px;
    height: 200px;
    z-index: 2147483647;
    border-radius: 12px 0px 0px 12px;
}

.banana_trigger
{
    float: left;
    clear: left;
    font-size: 14px;
    width: 15px;
    height: 100%;
    cursor: pointer;
    color: #000000;
    background-color: #3cff59cc;
    border-radius: 12px 0px 0px 12px;
}

.banana_trigger:hover
{
    background-color: #4fffdbcc;
}

.banana_body
{
    width: 215px;
    height: 100%;
    padding: 5px;
}

.banana_title
{
    margin-bottom: 5px;
}

.banana_box
{
    margin-bottom: 10px;
}

#banana_suggestion
{
    width: 180px;
    height: 100px;
    resize: none;
    background-color: #ffffffcc;
    margin-bottom: 5px;
    border-radius: 6px;
}

#banana_suggestion::placeholder
{
    color: rgb(116, 116, 116);
}

#banana_send
{
    width: 100px;
    height: 24px;
    cursor: pointer;
    background-color: #cfcfcfcc;
    border-radius: 6px;
}

#banana_send:hover
{
    background-color: #dfdfdfcc;
}

#banana_info
{
    font-size: 14px;
    margin-top: 2px;
}
