/*
    N@TuRe - UI Controls theme

    File name: user_profile.css
    Description: This file contains the User Profile theme CSS.

    Coded by George Delaportas (G0D)
    Copyright © 2013 - 2021
    Open Software License (OSL 3.0)
*/

.user_profile_area
{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 2px solid #dcdcdc;
    box-shadow: 0 0 12px #282c2c5e !important;
    width: 530px;
    height: 178px;
    right: 92px;
    margin-top: 42px;
    z-index: 2147483645;
}

.user_profile_area:before
{
    border-color: #f9f9f9 transparent;
    border-style: solid;
    border-width: 0 12px 12px;
    bottom: auto;
    content: "";
    position: absolute;
    right: 25px;
    top: -14px;
    width: 0;
}

#notifications_num
{
    cursor: pointer;
    background-color: #d54590;
    border-radius: 50% 50% 50% 50%;
    color: #FFFFFF;
    float: left;
    font-size: 12px;
    margin-top: 4px;
    margin-left: 4px;
    margin-right: 10px;
    padding: 5px;
}

#profile_access
{
    float: left;
}

#small_avatar
{
    float: left;
    clear: left;
    cursor: pointer;
    background-image: url('pix/profile/avatar_small.jpg');
    width: 27px;
    height: 27px;
    margin-top: 2px;
}

#my
{
    float: left;
    clear: right;
    cursor: pointer;
    color: #55b8ff;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 5px;
}

#my:hover
{
    color: #55ffe7;
}

#profile_left_side
{
    clear: left;
    float: left;
    height: 100%;
}

#profile_right_side
{
    clear: right;
    float: left;
}

#profile_info
{
    clear: left;
    float: left;
    width: 270px;
    margin-top: 20px;
    padding: 25px;
}

#big_avatar
{
    float: left;
    clear: left;
    cursor: pointer;
    background-image: url('pix/profile/avatar_big.jpg');
    width: 96px;
    height: 96px;
    border: 1px solid #C5C5C5;
    margin-top: -2px;
}

#user_data
{
    clear: right;
    float: left;
    width: 160px;
    margin-left: 10px;
}

#user_full_name
{
    font-size: 14px;
    font-weight: bold;
    color: #3b77a2;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 4px;
}

#user_email
{
    color: #777777;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 7px;
}

#user_account
{
    float: left;
    clear: left;
    cursor: pointer;
    color: #9C95A1;
    font-size: 14px;
    margin-right: 5px;
}

#user_account:hover
{
    color: #5C5C5C;
}

#user_settings
{
    float: left;
    clear: right;
    cursor: pointer;
    color: #9C95A1;
    font-size: 14px;
    margin-left: 5px;
}

#user_settings:hover
{
    color: #5C5C5C;
}

#separator
{
    float: left;
    clear: none;
    color: #9C95A1;
    margin-top: -2px;
}

#user_reboot
{
    float: left;
    clear: both;
    cursor: pointer;
    background-color: #45C8D5;
    border-radius: 6px;
    color: #FFFFFF;
    font-size: 14px;
    height: 18px;
    line-height: 16px;
    margin-top: 4px;
    padding: 6px 12px;
}

#user_reboot:hover
{
    background-color: #4AD7E5;
}

#notifications
{
    clear: right;
    float: left;
    width: 210px;
}

#total_notifications
{
    float: left;
    clear: both;
    border-bottom: #C5C5C5 solid 1px;
    width: 186px;
    height: 32px;
    padding: 4px;
}

#eye
{
    float: left;
    clear: left;
    background-image: url('pix/icons/philos/eye.png');
    width: 30px;
    height: 15px;
    margin-top: 9px;
    margin-right: 10px;
}

#notifications_list
{
    float: left;
    clear: both;
    font-size: 13px;
    width: 210px;
    height: 114px;
    overflow-y: scroll;
}

#messages_icon
{
    background-image: url('pix/icons/profile/messages.png');
    width: 20px;
    height: 20px;
}

#alerts_icon
{
    background-image: url('pix/icons/profile/alerts.png');
    width: 20px;
    height: 20px;
}

#calendar_icon
{
    background-image: url('pix/icons/profile/calendar.png');
    width: 20px;
    height: 20px;
}

.notification_list_item
{
    float: left;
    clear: both;
    cursor: pointer;
    color: #5C5C5C;
    border-left: #C5C5C5 solid 1px;
    border-right: 1px solid #C5C5C5;
    border-bottom: #C5C5C5 solid 1px;
    width: 184px;
    padding: 4px;
}

.notification_list_item:hover
{
    color: #1b1b1b;
    background-color: #f8ce47;
}

.alt_list_item
{
    border-bottom: none;
}

.list_item_icon
{
    float: left;
    margin-right: 5px;
}

.list_item_text
{
    float: left;
    margin-top: 0px;
}

.list_item_notifications
{
    float: right;
    border-radius: 50% 50% 50% 50%;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C5C5C5;
    color: #9C95A1 !important;
    margin-right: 4px !important;
    padding: 5px;
}

.item_details
{
    float: left;
    margin-top: 5px;
    margin-left: 5px;
}

#logout
{
    clear: left;
    float: right;
    margin-right: 10px;
    margin-top: 4px;
}

#logout_icon
{
    float: left;
    cursor: pointer;
    background-image: url('pix/icons/profile/logout.png');
    width: 20px;
    height: 20px;
    margin-top: 4px;
}

.button
{
    float: left;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    color: #606060;
    background-color: transparent;
    margin-top: -2px;
}

.control_item .button:hover
{
    color: #b4b4b4;
}
