/*
    N@TuRe - iWebGL (Preview) theme

    File name: i_webgl_preview.css
    Description: This file contains the iWebGL (Preview) theme CSS.

    Coded by George Delaportas (G0D/ViR4X)
    Copyright © 2021 - 2024
    Open Software License (OSL 3.0)
*/

.i_webgl_preview_icon
{
    background-image: url('pix/i_webgl.png') !important;
    width: 30px;
    height: 30px;
    margin: 0px;
}

.i_webgl_preview
{
    height: inherit;
}

.i_webgl_preview .overlay
{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.i_webgl_preview iframe
{
    border: none;
    width: 100%;
    height: 100%;
    z-index: 1;
}
