/*
    N@TuRe - Coyote theme

    File name: coyote.css
    Description: This file contains the Coyote theme CSS.

    Coded by George Delaportas (G0D/ViR4X)
    Copyright © 2013 - 2024
    Open Software License (OSL 3.0)
*/

.coyote_icon
{
    background-image: url('pix/coyote.png') !important;
    width: 30px;
    height: 30px;
    margin: 0px;
}

.coyote_tabs_bar
{
    width: 100%;
    height: 27px;
    margin-bottom: 2px;
}

.tab
{
    float: left;
    clear: none;
    cursor: pointer;
    max-width: 100px;
    height: 17px;
    overflow: hidden;
    margin-right: 2px;
    padding: 5px;
}

.tab_selected
{
    color: #FFFFFF;
    background-color: #35BAB2;
}

.tab .tab_text
{
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 12px;
}

.tab .tab_close
{
    float: right;
    clear: both;
    width: 7px;
    height: 6px;
    background-repeat: no-repeat;
    background-image: url('pix/close.png');
}

.tab .tab_close:hover
{
    width: 7px;
    height: 6px;
    background-repeat: no-repeat;
    background-image: url('pix/close_hover.png');
}

.create_new_tab
{
    width: 28px;
    height: 19px;
    background-color: #5C5C5C;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('pix/tab.png');
    padding: 4px;
}

.create_new_tab:hover
{
    background-image: url('pix/tab_hover.png');
}

.coyote_control_bar
{
    background-color: #E5E5E5;
    width: 100%;
    height: 30px;
    margin-bottom: 2px;
}

.browser_button
{
    float: left;
    clear: none;
    cursor: pointer;
    width: 19px;
    height: 19px;
    margin-top: 5px;
    margin-left: 10px;
}

.history_back
{
    background-image: url('pix/previous.png');
}

.history_back:hover
{
    background-image: url('pix/previous_hover.png');
}

.history_forward
{
    background-image: url('pix/next.png');
}

.history_forward:hover
{
    background-image: url('pix/next_hover.png');
}

.page_refresh
{
    background-image: url('pix/refresh.png');
}

.page_refresh:hover
{
    background-image: url('pix/refresh_hover.png');
}

.page_info
{
    position: absolute;
    left: 90px;
    top: 34px;
    background-image: url('pix/info.png');
}

.browser_full_screen
{
    float: right;
    background-image: url('pix/full_screen.png');
}

.browser_full_screen:hover
{
    background-image: url('pix/full_screen_hover.png');
}

.browser_settings
{
    float: right;
    background-image: url('pix/settings.png');
    margin-right: 10px;
}

.browser_settings:hover
{
    background-image: url('pix/settings_hover.png');
}

.adress_bar
{
    float: none;
    clear: none;
    width: inherit;
}

.address_box
{
    float: right;
    text-indent: 20px;
    width: 839px;
    height: 18px;
    margin-top: 4px;
}

.coyote_frame
{
    border: none;
    width: 100%;
    min-height: 240px;
}

.max_screen_overlay
{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

.coyote_full_screen_layer
{
    display: none;
    position: absolute;
    background-color: #1e2020;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 2147483646;
}

.coyote_meta_info
{
    color: #333333;
    background-color: #FFFFFF;
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
}

.coyote_meta_info_result
{
    background-color: #DFDFDF;
    margin-bottom: 10px;
    padding: 4px;
}

.meta_info_name
{
    font-size: 13px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

.meta_info_snippet
{
    text-align: justify;
    margin-top: 5px;
    margin-bottom: 5px;
}

.meta_info_url
{
    cursor: pointer;
    color: deeppink;
    overflow: hidden;
    margin-bottom: 5px;
}
