/*
    N@TuRe - Integrated Facebook theme (Default)

    File name: default.css
    Description: This file contains the Integrated Facebook default theme CSS.

    Coded by George Delaportas (G0D/ViR4X)
    Copyright © 2013 - 2021
    Open Software License (OSL 3.0)
*/

.i_fb_icon
{
    background-image: url('/framework/extensions/js/i_fb/themes/pix/logo.png') !important;
    margin-left: 0px;
    margin-top: 0px;
    height: 30px;
    width: 30px;
}

#i_fb #i_fb_main_content
{
    height: 375px;
    margin-top: 5px;
}

#i_fb #rtt
{
    margin: 0px 5px;
    padding: 5px;
    height: auto;
    font-family : 'Helvetica Neue', Arial, sans-serif;
    font-size: 12px;
    font-weight: 300;
}

#i_fb #box
{
    margin: 0px 5px;
    padding: 5px;
    border-bottom: 1px solid rgba(224, 224, 224, 0.34);
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
    border-top: 1px solid #FFF;
    height: auto;
    font-family : 'Helvetica Neue', Arial, sans-serif;
    font-size: 12px;
    font-weight: 300;
    min-height: 50px;
    clear: both;
}

#i_fb #box:hover
{
    border: 1px solid rgba(224, 224, 224, 0.34);
    background-color: rgba(250, 250, 250, 0.56);
    -webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

#i_fb #box:hover button
{
    background-color: #FFFFFF;
    color: #35BAB2;
    -webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

#i_fb #box:hover button:hover
{
    background-color: #5C5C5C;
    color: #FFFFFF;
}

#i_fb #box a
{
    cursor: pointer;
}

#i_fb #box #answer
{
    float: right;
    cursor: pointer;
    color: #9C9C9C;
}

#i_fb #box #answer2
{
    float: left;
    cursor: pointer;
    color: #9C9C9C;
}

#i_fb span.like, #i_fb span.comments
{
	margin-right: 5px;
}

#i_fb span.like:hover, #i_fb span.comments:hover, #i_fb span.share:hover
{
	color: #71D5CE;
	-webkit-transition: color 100ms linear;
	-moz-transition: color 100ms linear;
	-o-transition: color 100ms linear;
	-ms-transition: color 100ms linear;
	transition: color 100ms linear;
}

#i_fb .profile_feeds #answer
{
	float: left;
    cursor: pointer;
    color: #9C9C9C;
	width: 510px;
}

#i_fb #box #answer span:hover
{
    color: #35BAB2;
}

#i_fb #fb_post_more
{
    display: none;
}

#i_fb .posted_photo_added_by_user
{
    margin-right: 5px;
}

#i_fb div.post_media_content
{
    margin-top: 5px; 
}

#i_fb img.post_social_icons
{
    position: relative;
    top: 4px;
}

#i_fb div.comments_area_outer_for_infinity
{
    height: auto;
    margin: 0px 5px;
    display: none;
	margin-top: -1px;
}

#i_fb div.comments_area
{
    font-size: 12px;
    font-weight: 300;
    font-family : 'Helvetica Neue', Arial, sans-serif; 
    background-color: rgba(250, 250, 250, 0.56); 
	margin-left: 59px;
	margin-top: 5px;
	border: 1px solid rgba(224, 224, 224, 0.34);
	margin-bottom: 15px;
}

#i_fb div.comment_display_div
{
    width: 545px;
    margin: 0 auto;
    padding: 10px 5px;
    border-bottom: 1px solid rgba(224, 224, 224, 0.34);
}

#i_fb img#comment_display_image
{
    float: left;
    width: 32px;
    height: 32px;
}

#i_fb div#comment_display_content 
{
    width: 500px;
    margin-left: 40px;
}

#i_fb div#comment_display_name 
{
    font-weight: bold;
	float: left;
	margin-right: 10px;
}

#i_fb div#comment_display_actual_comment 
{
	min-height: 20px;
}

#i_fb img#display_wall_image
{
    margin-right: 5px;
    height: 100px;
    cursor: pointer;
}

#i_fb img#display_wall_image:hover
{
    opacity: 0.8;
}

#i_fb #row_1
{
    float: left;
    width: 70px;
}

#i_fb #row_2
{
    float: right;
    width: 515px;
    height: 60px;
}

#i_fb .bold
{
    font-weight: bold;
}

#i_fb div#i_fb_status_bar_menu_icon
{
    position: absolute;
    right: 5px;
    margin-top: 8px;
}

#i_fb img#i_fb_status_bar_bullets
{
    cursor: pointer;
    background-color: #D0D0D0;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

#i_fb img#i_fb_status_bar_bullets:hover
{
    background-color: #C0C0C0;
    -moz-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

#i_fb #i_fb_navigation #profile,
#i_fb #i_fb_navigation #requests,
#i_fb #i_fb_navigation #inbox,
#i_fb #i_fb_navigation #nots,
#i_fb #i_fb_navigation #feed,
#i_fb #i_fb_navigation #status,
#i_fb #i_fb_navigation #photo,
#i_fb #i_fb_navigation #checkin
{
    cursor: pointer;
    height: 30px;
}

#i_fb #i_fb_main_bottom_navigation
{
    display: none;
    list-style: none; 
    padding: 2px;
    margin: 0px;
    position: absolute;
    bottom: 28.5px;
    width: 100%;
    height: 130px;
    left: 0;
    z-index: 1;
    background-color: #71D5CE;
}

#i_fb #i_fb_main_bottom_navigation div
{
    width: 16%;
    float: left;
}

#i_fb #i_fb_mask
{
    list-style: none; 
    padding: 2px;
    margin: 0px;
    position: absolute;
    bottom: 30px;
    width: 688px;
    height: 417px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    z-index: 3;
}

#i_fb #i_fb_mask img
{
    z-index: 2;
}

#i_fb #i_fb_mask #i_fb_arrow_left, #i_fb #i_fb_mask #i_fb_arrow_right
{
    display: block;
    list-style: none; 
    padding: 2px;
    margin: 0px;
    position: absolute;
    bottom: 170px;
    width: 32px;
    height: 85px;
    z-index: 1;
    text-align: center;
    cursor: pointer;
}

#i_fb #i_fb_mask #i_fb_arrow_left
{
    float: left;
    margin-left: 32px;
}

#i_fb #i_fb_mask #i_fb_arrow_right
{
    float: left;
    margin-left: 620px;
}

#i_fb #i_fb_mask_photo_close
{
    z-index: 3;
    cursor: pointer;
    right: 5px;
    position: absolute;
    top: 5px;
}

#i_fb #i_fb_navigation
{
    height: 30px;
    width: 100%;
}

#i_fb #i_fb_navigation .menu_box img
{
    height: 19px;
    width: 19px;
    border: none;
}

#i_fb #i_fb_navigation .menu_box
{
    height: 30px;
    width: auto;
    background-color: #2CC0B8;
    float: left;
    /*margin-top: 5px;*/
    padding: 0px 3.1px;
}

#i_fb #i_fb_navigation .menu_box:hover, 
#i_fb #i_fb_navigation div#active_tab
{
    background-color: #6EDED7;
}

#i_fb #i_fb_navigation div#active_tab:hover
{
    opacity: 0.8;
}

#i_fb #i_fb_navigation .menu_box #box_left
{
    height: 20px;
    width: auto;
    float: left;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 5px; 
    padding: 0px 0.5px;
}

#i_fb #i_fb_navigation .menu_box #box_right
{
    height: 20px;
    width: auto;
    float: left;
    margin-right: 3px;
    color: #FFFFFF;
    margin-top: 9px;
    padding: 0px 2px;
}

#i_fb #i_fb_navigation .menu_box span#number_of_new
{
    position: absolute;
    background-color: #5B5B5B;
    color: #FFFFFF;
    font-size: 9px;
    padding: 2px;
    border-radius: 2px;
    top: 54px;
}

#i_fb #i_fb_navigation #i_fb_menu_separator
{
    width: 1px; 
    background-color: #FFFFFF;
    height: 30px;
    float: left;
}

#i_fb nav ul li 
{
    display: block;
    float: left;
    padding: 5px; 
    margin: 0px
}

#i_fb nav ul li:hover
{
    background-color: #5C5C5C;
    border-radius: 4px;
}

#i_fb div#i_fb_menu_separator_div
{
    width: 1px; 
    background-color: #FFFFFF;
    height: 19px;
}

#i_fb li#i_fb_menu_separator_li
{
    float: left;
    /*margin-right: 2px;*/
}

#i_fb li#i_fb_menu_separator_li:hover
{
    background-color: #71D5CE;
    border-radius: none;
}

#i_fb #facebook_login_div
{
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: 100%;
}

#i_fb div#facebook_login_greyos
{
    margin: 0 auto;
    background-image: url(/framework/extensions/js/i_fb/themes/pix/greyos_facebook.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 40%;
    width: 100%;
}

#i_fb div#facebook_login_button_div
{
    margin: 0 auto;
    height: 80px;
    width: 100%;
    background-color: #ECECEC;
    text-align: center;
    position: absolute;
    left: 0;
}

#i_fb input#facebook_login_button
{
    color: #FFFFFF; /* text color */
    font-size: 20px;
    font-weight: bold;
    font-family: "Ubuntu";
    text-shadow: 0 1px 1px rgba(22,107,128,.2); /* drop shadow */
    border: 1px solid rgba(146,146,146,.44); /* stroke */
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; /* border radius */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    background-color: #5C5C5C; /* layer fill content + color overlay */
    width: 155px;
    height: 40px;
    margin-top: 20px;
    outline: none;
    cursor: pointer;
}

#i_fb input#facebook_login_button:hover
{
    opacity: 0.8;
}

#i_fb img#facebook_login_button_background
{
    position: absolute;
}

#i_fb #box button
{
    border: 1px solid #35BAB2;
    color: #FFFFFF;
    width: 80px;
    cursor: pointer;
    background-color: #35BAB2;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    float: right;
    margin-left: 2px;
}

#i_fb .notify_view
{
    margin-left: 2px;
    margin-bottom: 2px;
}

#i_fb #post_status input
{
    font-weight:bold;
    font-size: 16px;
    border: 1px solid;
    color: #FFFFFF;
    width: 175px;
    height: 40px;
    cursor: pointer;
    background-color: #5C5C5C;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    float: right;
}

#i_fb #post_status input:hover
{
    background-color: #888888;
}

#i_fb #status_message
{
    margin-top: 5px;
    width: 96%;
    height: 150px;
    border-color: #C1C1C1;
    border-style: solid;
    padding: 10px;
    resize: none;
}

#i_fb #status_message::-webkit-input-placeholder
{
    color: #5C5C5C;
}

#i_fb #status_message:-moz-placeholder
{
    color: #5C5C5C;
}

#i_fb #status_message:-ms-input-placeholder
{
    color: #5C5C5C;
}

#i_fb .fb_time_notofications
{
    color: #C1C1C1;
    font-size: 10px;
}

#i_fb #post_status #bottom_update
{
    margin-top: 5px;
    color: #9C9C9C;
}

#i_fb #post_status #bottom_update span
{
    color: #5B5B5B;
    cursor: pointer;
}

#i_fb #post_status #bottom_update span:hover
{
    opacity: 0.8;
}

#i_fb #reply_message_content
{
    height: 72px;
    background: #F2F2F2;
    margin-left: 5px;
    clear: both;
}

#i_fb #reply_message
{
    resize: none;
    width: 77%;
    height: 45px;
    margin-left: 10px;
    margin-top: 10px;
    border: 1px solid;
    border-color: #CDCECF;
}

#i_fb #reply_to_message
{
    float: right;
    margin-right: 10px;
    margin-top: -54px;
    width: 98px;
    height: 53px;
    background-color: #5C5C5C;
    color: #FFFFFF;
    font-weight: normal;
    cursor: pointer;
    border: 1px solid;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
}

#i_fb #reply_to_message:hover
{
    background-color: #888888;
}

#i_fb .fb_inbox_buttons
{
    margin-top: 12px;
}

#i_fb .viewmessage
{
    margin-left: 20px;
}

#i_fb .album_table, #i_fb .album_table_general
{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 31%;
    float: left;
    height: 199px;
    cursor: pointer
}

#i_fb .album_table_general:hover, #i_fb .album_table:hover
{
    opacity: 0.8;
}

#i_fb .album_content
{
    text-align: center;
    height: 32px;
    background-image: url('/framework/extensions/js/i_fb/themes/pix/album_background.png');
    vertical-align: middle;
    line-height: 32px;
    width: 177px;
}

#i_fb .album_content a
{
    color: #000000;
    cursor: pointer;
}

#i_fb .requests button
{
    float: right;
    margin-top: -2px;
}

#i_fb .crop, #i_fb .crop_general
{
    width: 177px;
    height: 177px;
    overflow: hidden;
}

#i_fb .created_time
{
    color: red;
}

#i_fb .comments_create_time
{
    float: right;
    color: #C1C1C1;
    font-size: 10px; 
}

#i_fb .profile_picture 
{
    float: left;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 5px;
	pointer-events: none;
}

#i_fb span.fb_date
{
    color:#9C9C9C;
    font-weight: normal;
}

#i_fb span.fb_date2
{
	float: right;
	font-size: 11px;
    color:#9C9C9C;
    font-weight: normal;
}

#i_fb span.fb_date
{
    color:#9C9C9C;
    font-weight: normal;
}

#i_fb span.fb_m_f_count
{
    color:#9C9C9C;
    font-weight: normal;
}

#i_fb a.profile_link 
{
    color: #333;
    font-weight: bold;
	pointer-events: none;
}

#i_fb span.post_type 
{
    font-size: 11px;
}

#i_fb .post_content_box 
{
    width: 580px;
    float: right;
}

#i_fb .post_content 
{
    padding-top: 5px;
    min-height: 12px;
}

#i_fb .msg_content 
{
    padding-top: 5px;
    min-height: 12px;
}

#i_fb .fb_notification 
{
    width: 490px;
    float: left;
}

#i_fb .post_notification_text 
{

}

#i_fb .fb_no_request
{
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
}

#i_fb .msg_box 
{
	display: block;
	clear: both;
	min-height: 50px;
	padding-bottom: 10px;
	padding-top: 5px;
}

#i_fb #inbox_box
{
    margin: 0px 5px;
    padding: 5px;
    border-bottom: 1px solid #F3F3F3;
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
    border-top: 1px solid #FFF;
    height: auto;
    font-family : 'Helvetica Neue', Arial, sans-serif;
    font-size: 12px;
    font-weight: 300;
    min-height: 50px;
	clear: both;
	cursor: pointer;
}

#i_fb #msg_separator
{
	border-top: 1px solid rgb(243, 243, 243);
	height: 1px;
	clear: both;
	padding-bottom: 5px;
}

#i_fb #inbox_box:hover
{
    border: 1px solid #1CBEB3;
    background-color: #C1ECEA;
    -webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

#i_fb .msg_preview_content
{
    min-height: 12px;
	width: 540px;
	text-overflow: ellipsis;
	float: left;
	overflow: hidden;
	white-space: nowrap;
}

#i_fb .msg_to_names 
{
	width: 540px;
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#i_fb .req_box 
{
    display: block;
    clear: both;
    min-height: 50px;
}

#i_fb  .msg_content_box 
{
    width: 588px;
    float: right;
    padding-bottom: 5px;
    min-height: 50px;
}

#i_fb  .msg_preview_content_box 
{
    width: 580px;
	float: left;
	padding-bottom: 4px;
	padding-left: 8px;
}

#i_fb .msg_create_time
{
    width: 580px;
	float: left;
	color: rgb(193, 193, 193);
	font-size: 11px;
	padding-top: 3px;
}

#i_fb .delete_inbox_msg
{
    float: right;
    color: #C1C1C1;
    font-size: 11px;
}

#i_fb .unread_msg
{
	background: #FFF;
}

#i_fb .read_msg
{
	background: rgba(240, 240, 240, 0.79);
}

#i_fb .sent_msg_notification 
{
	color: #35BAB2;
	font-size: 9px;
	padding-right: 5px;
}

#i_fb .msg_view_top
{
	margin-bottom: 10px;
	padding: 3px 8px;
	background: #35BAB2;
	color: #FFFFFF !important;
}

#i_fb .msg_view_top a 
{
	color: #FFFFFF !important;
}

#i_fb #box_bottom 
{
    padding: 9px 0 3px 0;
}

#i_fb #fb_main_content .mCSB_container 
{
    margin-right: 16px;
}

#i_fb #fb_main_content .mCSB_scrollTools 
{
    margin-right: -2px!important;
}

#i_fb .show_more_posts button 
{
    margin-top: 10px;
    background-color: #2CC0B8;
    border: none;
    color: #FFFFFF;
    padding: 7px;
    cursor: pointer;
}

#i_fb .show_more_posts button:hover
{
    background-color: #6EDED7;
}

#i_fb #map_canvas
{ 
    margin: 0;
    padding: 0;
    height: 340px;
    clear: both;
}

#i_fb #checking_info_div #address
{
    width: 207px;
}

#i_fb #checking_info_div #lat
{
    width: 100px;
}

#i_fb #checking_info_div #lng
{
    width: 100px;
}

#i_fb #checking_info_div #send_checkin
{
    width: 128px;
    height: 33px;
    float: right;
    font-size: 15px;
    border: none;
    background-color: #2CC0B8;
    color: #FFFFFF;
    cursor: pointer;
    clear: right;
}

#i_fb #checking_info_div #send_checkin:hover
{
    opacity: 0.8;
}

#i_fb #checkin_places
{
    width: 550px;
    font-size: 23px;
    color: #5B5B5B;
    float: left;
    clear: left;
    border: 1px solid #5B5B5B;
    margin-top: 1px;
    margin-bottom: 4px;
}

#checkin_places option
{
    width: 100%;
}

#i_fb #checking_info_div input
{
    display: none;
}

#i_fb #fb_cover
{
    height: 100%;
    max-height: 148px;
	max-width: 280px;
    margin-left: 116px;
}

#i_fb #profile_picture
{
	width: 100px;
    position: absolute;
    top: 39px;
    left: 7px;
    border: 1px solid #2CC0B8;
}

#i_fb #profile_name 
{
	position: absolute;
    top: 107px;
	left: 116px;
    color: #FFF;
    font-size: 20px;
    padding: 5px;
    background-color: rgba(44, 192, 184, 0.81);
}

#i_fb .cover 
{
	height: 150px;
}

#i_fb .about 
{
	display: block;
    width: 260px;
    min-height: 50px;
    float: right;
    position: absolute;
    right: 0;
    top: 0;
}

#i_fb #fb_profile_about_box
{
	border: 1px solid #D3D6DB;
	height: 148px;
}

#i_fb .about_box_header 
{
	height: 30px;
	background: #F6F7F8;
}

#i_fb .about_box_header h4
{
	padding-top: 7px;
	padding-left: 5px;
	margin: 0px;
}

#i_fb #about_box_content
{
	padding: 5px;
    height: 110px;
}

#i_fb .profile_feeds
{
	display: block;
	min-height: 50px;
	margin-top: 10px;
}

#i_fb .profile_feed_content 
{
	float: left;
	width: 610px;
	min-height: 50px;
	margin-bottom: 15px;
}

#i_fb .post_link_img 
{
	float: left;
	margin-right: 5px;
}

#i_fb .post_link_title 
{
	font-weight: bold;
	color: #39A3AC;
	margin-bottom: 5px;
	display: block;
}

#i_fb .post_link_description 
{
	max-height: 4em;
	line-height: 100%;
	overflow: hidden;
}

#i_fb .post_link_description a
{
	color: #39A3AC;
}

#i_fb .post_message 
{
	display: block;
	padding: 7px 0px;
}

#i_fb .post_message a
{
	color: #39A3AC;
}

#i_fb p.toggle_msg_content
{
	margin: 0px;
	line-height: 1.3em;
}

#i_fb a.toggle_msg_content
{
	color: #39A3AC;
	margin-top: 3px;
	margin-bottom: 5px;
	display: block;
}

#i_fb .post_link_box 
{
	background: rgba(245, 245, 245, 0.33);
	height: auto;
	width: 565px;
	display: inline-block;
	padding: 5px;
	border: 1px solid rgba(224, 224, 224, 0.34);
}

#i_fb .profile_about 
{
	display: block;
	margin-bottom: 5px;
}

#i_fb #box_notifications
{
    margin: 0px 5px;
    padding: 5px;
    border-bottom: 1px solid #F3F3F3;
    height: auto;
    font-family : 'Helvetica Neue', Arial, sans-serif;
    font-size: 12px;
    font-weight: 300;
    min-height: 50px;
    clear: both;
}

#i_fb #box_notifications #answer
{
    float: right;
    cursor: pointer;
    color: #9C9C9C;
}

#i_fb #box_notifications #answer span:hover
{
    color: #35BAB2
}

#i_fb .fb_notify_detail
{
    margin-top: -10px;
    float: left;
}

#i_fb .name_of_event
{
    font-weight: bold;
    font-size: 18px;
    width: 450px;
    position: absolute;
}

#i_fb .person_invidet_you
{
    float: right;
    color: #9C9C9C;
    font-size: 10px;
    position: relative;
}

#i_fb .owners_event
{
    color: #9C9C9C;
    margin-top: 80px;
}

#i_fb .owners_name
{
    color: #35BAB2;
    cursor: pointer;
}

#i_fb .events_time
{
    margin-top: 20px;
    float: left;
}

#i_fb .event_time_bold
{
    font-weight: bold;
}

#i_fb .event_description
{
    margin-top: 50px;
}

#i_fb .event_description_text
{
    font-weight: normal;
    float: left;
    margin-top: -20px;
    margin-left: 30px;
}

#i_fb .event_description a
{
    margin-left: 30px;
    color: #35BAB2;
}

#i_fb .event_location
{
    font-weight: normal;
    margin-top: 20px;
}

#i_fb .location_owner
{
    font-weight: normal;
    color: #9C9C9C;
}

#i_fb .location_detail
{
    font-weight: normal;
    color: #9C9C9C;
    margin-left: 35px;
}

#i_fb #page_profile_picture
{
    width: 100px;
    position: absolute;
    top: 46px;
    left: 7px;
    border: 1px solid #2CC0B8;
}

#i_fb .fan_page_about 
{
    width: 100%;
    min-height: 50px;
    height: auto;
    left: 0;
    margin-top: 10px;
}

#i_fb .fan_page_info
{
    display: block;
    margin-bottom: 5px;
}

#i_fb .fan_page_website a
{
    margin-left: 22px;
    color: #35BAB2;
}

#i_fb .fan_page_link a
{
    margin-left: 46px;
    color: #35BAB2;
}

#i_fb .fan_page_info p
{
    font-weight: normal;
    margin-left: 74px;
    margin-top: -13px;
}

#i_fb #fb_fan_page_about_box
{
    border: 1px solid #D3D6DB;
    height: auto;
}

#i_fb .fan_page_feeds
{
    display: block;
    min-height: 50px;
    margin-top: 30px;
}

#i_fb .fan_page_about 
{
    display: block;
    margin-bottom: 5px;
}

#i_fb .fan_profil_about a
{
    margin-left: 74px;
    color: #35BAB2;
}

#i_fb #fan_page_answer
{
    float: right;
}

#i_fb .likes_fan_page
{
    font-weight: bold;
    float: right;
    margin-right: 10px;
    width: 150px;
    height: 60px;
    background: #F6F7F8;
    font-size: 20px;
    text-align: center;
}

#i_fb .like_page_icons
{
    position: relative;
    top: 8px;
    width: 35px;
}

#i_fb .talking_about_fan_page
{
    font-weight: bold;
    float: right;
    margin-right: 10px;
    margin-top: -62px;
    width: 150px;
    height: 60px;
    background: #F6F7F8;
    font-size: 20px;
    text-align: center;
}

#i_fb .talking_about_page_text
{
    font-size: 14px;
}

#i_fb .fb_name_group
{
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    color: white;
    background: rgba(44, 192, 184, 0.81);
    padding: 10px;
    cursor: default;
}

#i_fb .box_content_group
{
    margin-top: 20px;
}

#i_fb .default_group
{
    font-weight: bold;
    font-size: 20px;
    color: #808080;
    cursor: default;
}

#i_fb .fb_notify_photo_view
{
    text-align: center;
    padding: 10px;
    cursor: default;
}
