/*

    GreyOS Inc. - N@TuRe (Hive theme)
    
    Version: 1.0
    
    File name: hive.css
    Description: This file contains the N@TuRe - Hive theme.
    
    Coded by George Delaportas (G0D)
    
    GreyOS Inc.
    Copyright © 2013

*/



.hive
{

    display: block;
    visibility: hidden;
    position: absolute;
    font-size: 12px;
    height: 85px;
    min-height: 85px;
    margin-left: auto;
    margin-right: auto;

}

.hive_bee
{

    display: block;
    float: left;
    width: 230px;
    margin: 2px !important;

}

.box_ctrl_border
{

    border-color: #FFFFFF !important;

}

.stack_arrow
{

    cursor: pointer;
    width: 32px;
    height: 85px;

}

.left_arrow
{

    float: left;
    background-image: url('pix/previous_arrow.png');

}

.left_arrow:hover
{

    background-image: url('pix/previous_arrow_hover.png');

}

.right_arrow
{

    float: right;
    background-image: url('pix/next_arrow.png');

}

.right_arrow:hover
{

    background-image: url('pix/next_arrow_hover.png');

}

.stack_bar
{

    float: left;
    height: 85px;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;

}

.honeycomb
{

    float: left;
    height: 85px;
    margin-left: 10px;
    margin-right: 10px;

}

.ghost_bee
{

    display: none;
    position: absolute;
    font-size: 12px;
    width: 244px;
    height: 42px;
    opacity: 0.7;
    z-index: 999999999;

}
