/*
    N@TuRe - Octopus theme

    File name: octopus.css
    Description: This file contains the Octopus theme CSS.

    Coded by George Delaportas (G0D)
    Copyright © 2021
    Open Software License (OSL 3.0)
*/

.octopus
{
    float: right;
    clear: none;
    cursor: pointer;
    width: 32px;
    height: 32px;
    margin-top: 8px;
    margin-right: 28px;
}

.octopus div
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.octopus .device
{
    background: url('pix/usb.png') no-repeat;
    width: 32px;
    height: 32px;
}

.octopus .notification
{
    display: none;
    position: absolute;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    color: #ffffffbf;
    background-color: #38252f80;
    width: 200px;
    height: 70px;
    border: 2px solid #4c404a70;
    border-radius: 6px;
    margin-top: 50px;
    margin-left: 198px;
    padding-top: 10px;
    z-index: 2147483644;
}

.octopus .icon
{
    float: none;
    clear: both;
    background: url('pix/info.png') no-repeat;
    width: 32px;
    height: 32px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
