/*
    GreyOS theme (Tomorrow)

    File name: tomorrow.css
    Description: This file contains the GreyOS - Tomorrow CSS theme.

    Coded by George Delaportas (G0D)
    Copyright © 2021 - 2024
    Open Software License (OSL 3.0)
*/

/* Body */
body
{
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    background-image: url("pix/desktop.jpg");
    background-color: #72bbc5;
    background-attachment: fixed;
    min-width: 1280px;
    min-height: 700px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Anchor */
a
{
    text-decoration: none;
    color: #A070A0;
}

/* Anchor [Hover] */
a:hover
{
    text-decoration: none;
    color: #9C95A1;
}

/* Input */
input
{
    border: 1px solid #CFCFCF;
}

/* Image */
img
{
    border: none;
}

/* List */
li
{
    font-weight: normal;
    list-style: disc;
    margin-bottom: 10px;
}

/* Option */
option
{
    width: 107px;
}

::-webkit-scrollbar
{
    width: 14px;
}

::-webkit-scrollbar-track
{
    background: #47424b94;
}

::-webkit-scrollbar-thumb
{
    background: #15cfe24f;
}

::-webkit-scrollbar-thumb:hover
{
    background: #15cfe27d;
}

#top_panel
{
    display: block;
    background-color: #00000094;
    box-shadow: 0px 3px 8px rgb(0 0 0 / 40%);
}

.notifications_num
{
    background-color: #d54590a8 !important;
}

.my:hover
{
    color: #80caff !important;
}

.user_profile_area
{
    background-color: #181c2bc4 !important;
    border: 2px solid #577b844a !important;
    border-radius: 6px;
    right: 90px !important;
}

.user_profile_area:before
{
    border-color: #577b844a transparent !important;
}

.user_profile_active
{
    color: #55ffe7;
}

.user_profile_hidden
{
    color: #55b8ff;
}

.user_profile_name
{
    color: #ffffffd1 !important;
}

.user_email
{
    color: #9b9b9bd1 !important;
}

.user_account, .user_settings
{
    color: #90c486 !important;
}

.user_account:hover, .user_settings:hover
{
    color: #a7e29b !important;
}

.separator
{
    color: #9b9b9bd1 !important;
}

.user_reboot
{
    background-color: #ae373780 !important;
}

.user_reboot:hover
{
    background-color: #ca424280 !important;
}

.total_notifications
{
    border-bottom: none !important;
}

.notifications_list
{
    height: 102px !important;
}

.notification_list_item
{
    color: #40edffa8 !important;
    border-left: #83838380 solid 1px !important;
    border-right: none !important;
    border-bottom: none !important;
}

.notification_list_item:hover
{
    background-color: #00000059 !important;
}

.list_item_notifications
{
    background: none repeat scroll 0 0 #43353ccc !important;
}

.logout_button
{
    border-radius: 6px;
    border: none;
    cursor: pointer;
    color: #ffffff !important;
    background-color: transparent;
    padding: 8px;
}

.logout_button:hover
{
    color: #c58a8ad1 !important;
}

.search
{
    
}

.search .philos
{
    background-image: url('pix/icons/philos/eye.png');
}

.search .eureka
{

}

.search .eureka .eureka_search_box
{
    color: white !important;
    background-color: #0000005e;
    border-color: #2f2f2f !important;
}

.search .eureka .eureka_search_box:focus
{
    
}

#desktop
{
    float: none;
    clear: both;
    color: #000000;
    height: 100vh;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
}

.actions
{
    float: left;
    clear: none;
}

.view_icons
{
    float: left;
    cursor: pointer;
    background-repeat: no-repeat;
    height: 20px;
    margin-right: 5px;
}

.placement_icons
{
    float: left;
    cursor: pointer;
    background-repeat: no-repeat;
    height: 20px;
    margin-right: 10px;
}

.error
{
    background-color: #EAC0AE !important;
}

.verify_msg
{
    text-align: center;
    font-size: 20px;
    color: #5C5C5C;
    width: 500px;
    border-bottom: solid 4px #35BAB2;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

.dock_replace
{
    border: 1px solid #0c4443 !important;
    border-radius: 6px !important;
    box-shadow: inset 2px 2px 4px 0px #000000ba !important;
}

.tik_tok
{
    background-color: transparent !important;
    height: 37px !important;
    border: none !important;
    margin-top: 0px !important;
}

.tik_tok .clock_time
{
    color: #7cd8dc !important;
}

.tik_tok .clock_date
{
    color: #ffffff !important;
}

.forest .trigger_bar
{
    background: #ff7eb45c !important;
    box-shadow: 3px 3px 8px rgb(0 0 0 / 40%) !important;
    border: none !important;
}

.forest .trigger_bar:hover
{
    background-color: #ff97c35c !important;
}

.top_list, .cat_list
{
    background: #504d529c !important;
}

.cat .apps a
{
    background: #a296aba1 url(pix/apps.png) no-repeat 10px !important;
}

.cat_list .cat li a
{
    background: #ffffffcc !important;
}

.cat_list .cat li li a
{
    background: #cab2d4ab !important;
    border-bottom: none !important;
    color: #FFFFFF !important;
}

.cat_list .cat a
{
    width: 100% !important;
    background-color: #f0ffff4d !important;
}

.drawer
{
    background: none !important;
}

.drawer a
{
    background: #613f6cbd url(/framework/extensions/js/core/nature/themes/forest/pix/storage.png) no-repeat 10px !important;
}

.drawer .search_box
{
    width: 278px !important;
    color: white;
    background-color: #0000005e !important;
    border: none !important;
}

.honeycomb
{
    background-color: #4b719d33 !important;
}

.honeycomb .widget_ctrl_bar
{
    background-color: #2f2743b8 !important;
}

.honeycomb .widget_title
{
    color: #FFFFFF !important;
}

.honeycomb .box_ctrl_bar
{
    background-color: #5a296175 !important;
}

.eagle
{
    color: #ffffff !important;
    background-color: #3a68bd7a !important;
    border: 2px solid #96abc2bd !important;
}

.eagle_window
{
    border: 2px solid #81d6f342 !important;
}

.eagle_window_title
{
    background-color: #1c4c59c7 !important;
}

.eagle_window_body
{
    background-color: #ffffffcf !important;
}

.eagle_window_selected
{
    border: 2px solid #dbf878a6 !important;
    background-color: #ffffff85 !important;
}

.menu
{
    background-color: #1f092bf0;
    border-width: 1px;
    border-color: #ffffff9c;
    box-shadow: 0px 0px 4px #222222;
}

.menu_option
{
    color: white;
    background-color: #2885834f;
}

.menu_option:hover
{
    color: #FFFFFF;
    background-color: #50748bb3;
}

.gui
{
    background-color: #55339f66 !important;
    border-color: #dddddd5c !important;
    box-shadow: 0 0 12px #282c2c5e !important;
}

.widget_ctrl_bar
{
    background-color: #1f092b69 !important;
    border: 1px solid #daeff34f !important;
    color: #FFFFFF;
}

.widget_ctrl_bar:hover
{
    background-color: #43365cb0 !important;
}

.widget_title
{
    color: #ffffff !important;
}

.edit_win_title
{
    color: #5C5C5C !important;
}

.widget_separator
{
    border-left: 1px solid #daeff34f !important;
}

.box_ctrl_bar
{
    background-color: #832a9057 !important;
    border: 1px solid #9c88b55e !important;
}

.box_ctrl_bar:hover
{
    background-color: #71347a85 !important;
}

.box_separator
{
    border-left: 1px solid #9c88b55e !important;
}

.content
{
    color: #ffffff !important;
    background-color: transparent !important;
}

.status_bar
{
    background-color: transparent !important;
}

.status_msg
{
    color: #FFFFFF !important;
    margin-top: 0px !important;
}

.casement
{
    background-color: transparent !important;
    border-color: #dddddd5c !important;
    box-shadow: 0 0 12px #282c2c5e !important;
}

.casement_title
{
    background: #7dd0c873 !important;
}

.casement_data
{
    background-color: #337e9f66 !important;
}

.casement_status
{
    background-color: transparent !important;
}

.box_close
{
    background-image: url('pix/icons/bee/window/close_1.png') !important;
}

.box_close:hover
{
    background-image: url('pix/icons/bee/window/close_2.png') !important;
}

.widget_close
{
    background-image: url('pix/icons/bee/window/close_2.png') !important;
}

.widget_close:hover
{
    background-image: url('pix/icons/bee/window/close_1.png') !important;
}

.resize
{
    background: url('pix/icons/bee/window/resize.png') no-repeat !important;
}

#radio_dude_ctlr
{
    background-color: #f1f3f4;
}

.stream_genres div
{
    background-color: transparent !important;
    width: 284px !important;
}

.stream_genres
{
    padding: 0px !important;
}

.stream_genres div:hover
{
    background-color: #1a525796 !important;
}

.radio_dude_selected_stream
{
    color: #fff700 !important;
}

.radio_dude_selected_stream:hover
{
    color: #ffffff !important;
}

.msg_window
{
    background-color: #2d465ab8 !important;
}

#msgbox_title
{
    background-color: #66acaeb3 !important;

}

.msgbox_button
{
    background-color: #45454acf !important;
    border: solid 1px #596b69 !important;
}

.msgbox_button:hover
{
    background-color: #5b5a63d1 !important;
}

#xmas
{
    position: absolute;
    display: block;
    right: 0px;
    bottom: 0px;
    width: 786px;
    height: 740px;
    background-image: url('/site/pix/xmas/snowman_presents.png');
    zoom: 40%;
}
