/*
    Max Screen theme

    File name: max_screen.css
    Description: This file contains the Max Screen theme CSS.

    Coded by George Delaportas (G0D/ViR4X)
    Copyright © 2013 - 2024
    Open Software License (OSL 3.0)
*/

.max_screen
{
    position: absolute;
    cursor: pointer;
    font-family: monospace;
    color: rgb(194, 194, 194);
    right: 0px;
    bottom: 0px;
    width: 25px;
    height: 28px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    user-select: none;
}

.max_screen:hover
{
    color: white;
}
