/*
    N@TuRe - Eagle theme

    File name: eagle.css
    Description: This file contains the Eagle theme CSS.

    Coded by George Delaportas (G0D)
    Copyright © 2013 - 2021
    Open Software License (OSL 3.0)
*/

.eagle
{
    display: none;
    position: fixed;
    float: none;
    left: calc(100vw/2 - 250px);
    width: 492px;
    height: 240px;
    color: #ffffff;
    background-color: #3a68bd7a;
    text-align: center;
    border: 2px solid #b1d0f1bd;
    box-shadow: 0 0 12px #282c2c5e;
    border-radius: 6px;
    margin-top: 250px;
    z-index: 2147483647;
}

#eagle_apps
{
    float: none;
    width: 467px;
    height: 204px;
    margin-top: 12px;
    padding: 12px;
    padding-top: 1px;
    overflow-y: overlay;
}

.eagle_window
{
    float: left;
    font-size: 12px;
    width: 148px;
    height: 100px;
    border: 2px solid #81d6f342;
    margin-right: 4px;
    margin-bottom: 8px;
}

.no_right_margin
{
    margin-right: 0px;
}

.eagle_window_title
{
    background-color: #1c4c59c7;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 148px;
    height: 13px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.eagle_window_body
{
    background-color: #ffffffcf;
    height: 75px;
}

.eagle_window_selected
{
    border: 2px solid #dbf878a6;
    background-color: #ffffff85;
}
