/*

    GreyOS Inc. - N@TuRe (Swarm theme)
    
    Version: 1.0
    
    File name: swarm.css
    Description: This file contains the N@TuRe - Swarm theme.
    
    Coded by George Delaportas (G0D)    
    GreyOS Inc.
    Copyright © 2013

*/



.swarm
{

    display: block;
    position: absolute;
    background-color: transparent;
    min-width: 260px;
    min-height: 200px;

}
