/*
    N@TuRe - Trinity theme

    File name: trinity.css
    Description: This file contains the Trinity theme CSS.

    Coded by George Delaportas (G0D/ViR4X)
    Copyright © 2021 - 2022
    Open Software License (OSL 3.0)
*/

.trinity_icon
{
    background-image: url('pix/trinity.png') !important;
    width: 30px;
    height: 30px;
    margin: 0px;
}

.trinity_list
{
    overflow-y: auto;
    scroll-behavior: smooth;
    height: 125px;
}

.trinity_selected_stream
{
    color: #5C5C5C;
    background-color: #C2ECEA;
}

.trinity_status_bar
{
    background-color: #35BAB2;
}
