/*

    GreyOS Inc. - Scrollbar theme

    Version: 1.0

    File name: scrollbar.css
    Description: This file contains the Scrollbar theme CSS.

    Coded by Arron Bailiss (abailiss)

    GreyOS Inc.
    Copyright © 2014

*/



.scrollbar-content
{

    width: 99%;
    overflow: auto;
    overflow-y: hidden;
    overflow-wrap: break-word;

}

.scrollbar-track
{

    position: relative;
    top: 2px;
    width: 2px;
    height: 100%;
    background-color: #DDDDDD;
    margin: 0 auto;

}

.scrollbar-handle
{

    position: relative;
    right: 4px;
    width: 2px;
    min-height: 20px;
    background: #ACACAC;
    cursor: pointer;
    border-radius: 4px;
    padding: 4px;

}

.scrollbar-handle:hover
{

    background: #C0C0C0;

}
