/*
    N@TuRe - Swarm theme

    File name: swarm.css
    Description: This file contains the Swarm theme CSS.

    Coded by George Delaportas (G0D)
    Copyright © 2013 - 2022
    Open Software License (OSL 3.0)
*/

.swarm
{
    display: block;
    position: absolute;
    background-color: transparent;
    min-width: 260px;
    min-height: 200px;
}

.bee_resize_tooltip
{
    position: absolute;
    visibility: hidden;
    background-color: #ffffff;
    color: #000000;
    font-size: 11px;
    text-align: center;
    left: 0px;
    top: 0px;
    width: auto;
    height: auto;
    padding: 4px;
}
