/*
    GreyOS - Tablet CSS

    File name: tablet.css
    Description: This file contains the GreyOS - Tablet CSS.

    Coded by George Delaportas (G0D)
    Copyright © 2024
    Open Software License (OSL 3.0)
*/

.favorites
{
    margin-right: 5px !important;
}

#favorite_apps
{
    width: 400px !important;
}

.user_reboot
{
    height: 16px !important;
    line-height: 15px !important;
}
