/*
    N@TuRe - Dock theme

    File name: dock.css
    Description: This file contains the Dock theme CSS.

    Coded by George Delaportas (G0D)
    Copyright © 2013 - 2024
    Open Software License (OSL 3.0)
*/

[draggable] 
{
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#favorite_apps
{
    float: left;
    clear: right;
    margin-left: 16px;
    margin-top: 2px;
    height: 38px;
    min-width: 1104x;
    max-width: 1104px;
}

.favorites
{
    width: 30px;
    height: 30px;
    padding: 0px;
    border: 1px solid transparent;
    float: left;
    margin-right: 20px;
    cursor: pointer;
	-webkit-transition: background-image 0.1s ease-out;
	-moz-transition: background-image 0.1s ease-out;
	-ms-transition: background-image 0.1s ease-out;
	-o-transition: background-image 0.1s ease-out;
	transition: background-image 0.1s ease-out;
}

.favorites:hover
{
	-webkit-transition: background-image 0.1s ease-in;
	-moz-transition: background-image 0.1s ease-in;
	-ms-transition: background-image 0.1s ease-in;
	-o-transition: background-image 0.1s ease-in;
	transition: background-image 0.1s ease-in;
}

.instances
{
    display: none;
    color: white;
    background-color: #4b2a44c2;
    border-radius: 4px;
    padding: 2px;
    text-align: center;
    width: 13px;
    font-size: 8px;
    margin-top: 17px;
    margin-left: 15px;
}

.dock_replace
{
	border: 1px solid white;
	border-radius: 5px;
	-moz-box-shadow: inset 2px 2px 3px #c9c9c9;
	-webkit-box-shadow: inset 2px 2px 3px #c9c9c9;
	box-shadow: inset 2px 2px 3px #c9c9c9;
}

.dock_replace_outer
{
	border: 1px solid #9C95A1;
	border-radius: 5px;
	-moz-box-shadow: 2px 2px 2px 1px #bababa;
	-webkit-box-shadow: 2px 2px 2px 1px #bababa;
	box-shadow: 2px 2px 2px 1px #bababa;
}

.dock_replace_outer_move
{
	border: 2px solid white;
	border-radius: 5px;
	-moz-box-shadow: 2px 2px 2px 1px #bababa;
	-webkit-box-shadow: 2px 2px 2px 1px #bababa;
	box-shadow: 2px 2px 2px 1px #bababa;
}

.app_default
{
    background-image: url('pix/favorites/inactive/icon_app.png') !important;
}

.app_default:hover
{
    background-image: url('pix/favorites/hover/icon_app.png') !important;
}

.app_default_on
{
    background-image: url('pix/favorites/active/icon_app.png') !important;
}

.svc_default
{
    background-image: url('pix/favorites/inactive/icon_box.png') !important;
}

.svc_default:hover
{
    background-image: url('pix/favorites/hover/icon_box.png') !important;
}

#app_rooster
{
    background-image: url('pix/favorites/inactive/icon_clock.png');
}

#app_rooster:hover
{
    background-image: url('pix/favorites/hover/icon_clock.png') !important;
}

.app_rooster_on
{
    background-image: url('pix/favorites/active/icon_clock.png') !important;
}

#app_greyos_cloud
{
    background-image: url('pix/favorites/inactive/icon_cloud.png');
}

#app_greyos_cloud:hover
{
    background-image: url('pix/favorites/hover/icon_cloud.png') !important;
}

.app_greyos_cloud_on
{
    background-image: url('pix/favorites/active/icon_cloud.png') !important;
}

#app_coyote
{
    background-image: url('pix/favorites/inactive/icon_coyote.png');
}

#app_coyote:hover
{
    background-image: url('pix/favorites/hover/icon_coyote.png') !important;
}

.app_coyote_on
{
    background-image: url('pix/favorites/active/icon_coyote.png') !important;
}

#app_greyos_mail
{
    background-image: url('pix/favorites/inactive/icon_email.png');
}

#app_greyos_mail:hover
{
    background-image: url('pix/favorites/hover/icon_email.png') !important;
}

.app_greyos_mail_on
{
    background-image: url('pix/favorites/active/icon_email.png') !important;
}

#app_i_youtube
{
    background-image: url('pix/favorites/inactive/icon_youtube.png');
}

#app_i_youtube:hover
{
    background-image: url('pix/favorites/hover/icon_youtube.png') !important;
}

.app_i_youtube_on
{
    background-image: url('pix/favorites/active/icon_youtube.png') !important;
}

#app_i_fb
{
    background-image: url('pix/favorites/inactive/icon_facebook.png');
}

#app_i_fb:hover
{
    background-image: url('pix/favorites/hover/icon_facebook.png') !important;
}

.app_i_fb_on
{
    background-image: url('pix/favorites/active/icon_facebook.png') !important;
}

#app_twitter
{
    background-image: url('pix/favorites/inactive/icon_twitter.png');
}

#app_twitter:hover
{
    background-image: url('pix/favorites/hover/icon_twitter.png') !important;
}

.app_twitter_on
{
    background-image: url('pix/favorites/active/icon_twitter.png') !important;
}

#app_i_linkedin
{
    background-image: url('pix/favorites/inactive/icon_linkedin.png');
}

#app_i_linkedin:hover
{
    background-image: url('pix/favorites/hover/icon_linkedin.png') !important;
}

.app_i_linkedin_on
{
    background-image: url('pix/favorites/active/icon_linkedin.png') !important;
}

#app_radio_dude
{
    background-image: url('pix/favorites/inactive/icon_radio.png');
}

#app_radio_dude:hover
{
    background-image: url('pix/favorites/hover/icon_radio.png') !important;
}

.app_radio_dude_on
{
    background-image: url('pix/favorites/active/icon_radio.png') !important;
}

#app_cloud_edit
{
    background-image: url('pix/favorites/inactive/icon_cloud_edit.png');
}

#app_cloud_edit:hover
{
    background-image: url('pix/favorites/hover/icon_cloud_edit.png') !important;
}

.app_cloud_edit_on
{
    background-image: url('pix/favorites/active/icon_cloud_edit.png') !important;
}

#app_i_bassoon
{
    background-image: url('pix/favorites/inactive/icon_daw.png');
}

#app_i_bassoon:hover
{
    background-image: url('pix/favorites/hover/icon_daw.png') !important;
}

.app_i_bassoon_on
{
    background-image: url('pix/favorites/active/icon_daw.png') !important;
}

#app_i_quakejs
{
    background-image: url('pix/favorites/inactive/icon_games.png');
}

#app_i_quakejs:hover
{
    background-image: url('pix/favorites/hover/icon_games.png') !important;

}

.app_i_quakejs_on
{
    background-image: url('pix/favorites/active/icon_games.png') !important;
}

#app_i_mariojs
{
    background-image: url('pix/favorites/inactive/icon_games.png');
}

#app_i_mariojs:hover
{
    background-image: url('pix/favorites/hover/icon_games.png') !important;
}

.app_i_mariojs_on
{
    background-image: url('pix/favorites/active/icon_games.png') !important;
}

#app_i_swooop
{
    background-image: url('pix/favorites/inactive/icon_games.png');
}

#app_i_swooop:hover
{
    background-image: url('pix/favorites/hover/icon_games.png') !important;
}

.app_i_swooop_on
{
    background-image: url('pix/favorites/active/icon_games.png') !important;
}

#app_i_youdj
{
    background-image: url('pix/favorites/inactive/icon_box.png');
}

#app_i_youdj:hover
{
    background-image: url('pix/favorites/hover/icon_box.png') !important;
}

.app_i_youdj_on
{
    background-image: url('pix/favorites/active/icon_box.png') !important;
}

#app_i_audiomass
{
    background-image: url('pix/favorites/inactive/icon_box.png');
}

#app_i_audiomass:hover
{
    background-image: url('pix/favorites/hover/icon_box.png') !important;
}

.app_i_audiomass_on
{
    background-image: url('pix/favorites/active/icon_box.png') !important;
}

#app_i_soundtrap
{
    background-image: url('pix/favorites/inactive/icon_box.png');
}

#app_i_soundtrap:hover
{
    background-image: url('pix/favorites/hover/icon_box.png') !important;
}

.app_i_soundtrap_on
{
    background-image: url('pix/favorites/active/icon_box.png') !important;
}

#app_i_ampedstudio
{
    background-image: url('pix/favorites/inactive/icon_box.png');
}

#app_i_ampedstudio:hover
{
    background-image: url('pix/favorites/hover/icon_box.png') !important;
}

.app_i_ampedstudio_on
{
    background-image: url('pix/favorites/active/icon_box.png') !important;
}

#app_i_vectorink
{
    background-image: url('pix/favorites/inactive/icon_box.png');
}

#app_i_vectorink:hover
{
    background-image: url('pix/favorites/hover/icon_box.png') !important;
}

.app_i_vectorink_on
{
    background-image: url('pix/favorites/active/icon_box.png') !important;
}

#app_i_ganttio
{
    background-image: url('pix/favorites/inactive/icon_box.png');

}

#app_i_ganttio:hover
{
    background-image: url('pix/favorites/hover/icon_box.png') !important;
}

.app_i_ganttio_on
{
    background-image: url('pix/favorites/active/icon_box.png') !important;
}

#app_i_webgl_preview
{
    background-image: url('pix/favorites/inactive/icon_star.png');
}

#app_i_webgl_preview:hover
{
    background-image: url('pix/favorites/hover/icon_star.png') !important;
}

.app_i_webgl_preview_on
{
    background-image: url('pix/favorites/active/icon_star.png') !important;
}

#app_games
{
    background-image: url('pix/favorites/inactive/icon_games.png');
}

#app_games:hover
{
    background-image: url('pix/favorites/hover/icon_games.png') !important;
}

.app_games_on
{
    background-image: url('pix/favorites/active/icon_games.png') !important;
}

#app_map_fuzion
{
    background-image: url('pix/favorites/inactive/icon_maps.png');
}

#app_map_fuzion:hover
{
    background-image: url('pix/favorites/hover/icon_maps.png') !important;
}

.app_map_fuzion_on
{
    background-image: url('pix/favorites/active/icon_maps.png') !important;
}

#app_greyos_talk
{
    background-image: url('pix/favorites/inactive/icon_chat.png');
}

#app_greyos_talk:hover
{
    background-image: url('pix/favorites/hover/icon_chat.png') !important;
}

.app_greyos_talk_on
{
    background-image: url('pix/favorites/active/icon_chat.png') !important;
}

#app_other
{
    width: 10px;
}

#app_bookmarks
{
    background-image: url('pix/favorites/inactive/icon_star.png');
}

#app_bookmarks:hover
{
    background-image: url('pix/favorites/hover/icon_star.png') !important;
}

.app_bookmarks_on
{
    background-image: url('pix/favorites/active/icon_star.png') !important;
}

.games_list
{
    display: none;
    position: relative;
    float: left;
    clear: both;
    font-size: 14px;
    width: 140px;
    height: 68px;
    cursor: pointer;
    background-color: #FFF;
    margin-top: 30px;
    padding: 4px;
    color: #FFFFFF;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    z-index: 2147483645;
}

.game_option
{
    background-color: #35BAB2;
    height: 18px;
    margin-bottom: 1px;
    padding: 2px;
}

.game_option:hover
{
    color: #FFFFFF;
    background-color: #5C5C5C;
}
