/*
    N@TuRe - Dock theme

    File name: dock.css
    Description: This file contains the Dock theme CSS.

    Coded by George Delaportas (G0D/ViR4X)
    Copyright © 2013 - 2024
    Open Software License (OSL 3.0)
*/

[draggable] 
{
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.dock
{
    width: 100%;
    height: 100%;
}

.favorites
{
    float: left;
    width: 30px;
    height: 30px;
    mix-blend-mode: hard-light;
    border: 1px solid transparent;
    cursor: pointer;
    margin-top: 6px;
    margin-right: 20px;
    padding: 0px;
	-webkit-transition: background-image 0.1s ease-out;
	-moz-transition: background-image 0.1s ease-out;
	-ms-transition: background-image 0.1s ease-out;
	-o-transition: background-image 0.1s ease-out;
	transition: background-image 0.1s ease-out;
}

.favorites:hover
{
	-webkit-transition: background-image 0.1s ease-in;
	-moz-transition: background-image 0.1s ease-in;
	-ms-transition: background-image 0.1s ease-in;
	-o-transition: background-image 0.1s ease-in;
	transition: background-image 0.1s ease-in;
}

.instances
{
    display: none;
    color: white;
    background-color: #4b2a44c2;
    border-radius: 4px;
    padding: 2px;
    text-align: center;
    width: 13px;
    font-size: 8px;
    margin-top: 17px;
    margin-left: 15px;
}

.dock_replace
{
    
}

.dock_replace_outer
{
    
}

.dock_replace_outer_move
{

}

.app_default
{
    background-image: url('pix/favorites/inactive/icon_app.png') !important;
}

.app_default:hover
{
    background-image: url('pix/favorites/hover/icon_app.png') !important;
}

.app_default_on
{
    background-image: url('pix/favorites/active/icon_app.png') !important;
}

#app_coyote
{
    background-image: url('pix/favorites/inactive/icon_coyote.png');
}

#app_coyote:hover
{
    background-image: url('pix/favorites/hover/icon_coyote.png') !important;
}

.app_coyote_on
{
    background-image: url('pix/favorites/active/icon_coyote.png') !important;
}

#app_radio_dude
{
    background-image: url('pix/favorites/inactive/icon_radio.png');
}

#app_radio_dude:hover
{
    background-image: url('pix/favorites/hover/icon_radio.png') !important;
}

.app_radio_dude_on
{
    background-image: url('pix/favorites/active/icon_radio.png') !important;
}

#app_cloud_edit
{
    background-image: url('pix/favorites/inactive/icon_cloud_edit.png');
}

#app_cloud_edit:hover
{
    background-image: url('pix/favorites/hover/icon_cloud_edit.png') !important;
}

.app_cloud_edit_on
{
    background-image: url('pix/favorites/active/icon_cloud_edit.png') !important;
}

#app_i_bassoon
{
    background-image: url('pix/favorites/inactive/icon_daw.png');
}

#app_i_bassoon:hover
{
    background-image: url('pix/favorites/hover/icon_daw.png') !important;
}

.app_i_bassoon_on
{
    background-image: url('pix/favorites/active/icon_daw.png') !important;
}

#app_i_quakejs
{
    background-image: url('pix/favorites/inactive/icon_games.png');
}

#app_i_quakejs:hover
{
    background-image: url('pix/favorites/hover/icon_games.png') !important;
}

.app_i_quakejs_on
{
    background-image: url('pix/favorites/active/icon_games.png') !important;
}

#app_i_mariojs
{
    background-image: url('pix/favorites/inactive/icon_games.png');
}

#app_i_mariojs:hover
{
    background-image: url('pix/favorites/hover/icon_games.png') !important;
}

.app_i_mariojs_on
{
    background-image: url('pix/favorites/active/icon_games.png') !important;
}

#app_i_swooop
{
    background-image: url('pix/favorites/inactive/icon_games.png');
}

#app_i_swooop:hover
{
    background-image: url('pix/favorites/hover/icon_games.png') !important;
}

.app_i_swooop_on
{
    background-image: url('pix/favorites/active/icon_games.png') !important;
}

#app_i_warbands
{
    background-image: url('pix/favorites/inactive/icon_games.png');
}

#app_i_warbands:hover
{
    background-image: url('pix/favorites/hover/icon_games.png') !important;
}

.app_i_warbands_on
{
    background-image: url('pix/favorites/active/icon_games.png') !important;
}

#app_i_youdj
{
    background-image: url('pix/favorites/inactive/icon_box.png');
}

#app_i_youdj:hover
{
    background-image: url('pix/favorites/hover/icon_box.png') !important;
}

.app_i_youdj_on
{
    background-image: url('pix/favorites/active/icon_box.png') !important;
}

#app_i_audiomass
{
    background-image: url('pix/favorites/inactive/icon_box.png');
}

#app_i_audiomass:hover
{
    background-image: url('pix/favorites/hover/icon_box.png') !important;
}

.app_i_audiomass_on
{
    background-image: url('pix/favorites/active/icon_box.png') !important;
}

#app_i_soundtrap
{
    background-image: url('pix/favorites/inactive/icon_box.png');
}

#app_i_soundtrap:hover
{
    background-image: url('pix/favorites/hover/icon_box.png') !important;
}

.app_i_soundtrap_on
{
    background-image: url('pix/favorites/active/icon_box.png') !important;
}

#app_i_ampedstudio
{
    background-image: url('pix/favorites/inactive/icon_box.png');
}

#app_i_ampedstudio:hover
{
    background-image: url('pix/favorites/hover/icon_box.png') !important;
}

.app_i_ampedstudio_on
{
    background-image: url('pix/favorites/active/icon_box.png') !important;
}

#app_i_ganttio
{
    background-image: url('pix/favorites/inactive/icon_box.png');
}

#app_i_ganttio:hover
{
    background-image: url('pix/favorites/hover/icon_box.png') !important;
}

.app_i_ganttio_on
{
    background-image: url('pix/favorites/active/icon_box.png') !important;
}

#app_i_webgl_preview
{
    background-image: url('pix/favorites/inactive/icon_star.png');
}

#app_i_webgl_preview:hover
{
    background-image: url('pix/favorites/hover/icon_star.png') !important;
}

.app_i_webgl_preview_on
{
    background-image: url('pix/favorites/active/icon_star.png') !important;
}
