/*
    N@TuRe - Cloud Edit theme

    File name: cloud_edit.css
    Description: This file contains the Cloud Edit theme CSS.

    Coded by George Delaportas (G0D)
    Copyright © 2021
    Open Software License (OSL 3.0)
*/

.cloud_edit_icon
{
    background-image: url('pix/cloud_edit.png') !important;
    width: 30px;
    height: 30px;
    margin: 0px;
}

.cloud_edit_content
{
    
}

.cloud_edit_status_bar
{
    background-color: #35BAB2;
}

.cloud_edit_msg
{

}

.ce_stop
{
    background-color: #ff3d8b !important;
}

.ce_stop:hover
{
    background-color: #ff5ab4 !important;
}

#ce_run_stop
{
    float: right;
    width: 66px;
    background-color: #3d9aff;
    color: white;
    border-radius: 6px;
    border-style: none;
    cursor: pointer;
    height: 22px;
    margin-top: -2px;
    margin-right: 6px;
}

#ce_run_stop:hover
{
    background-color: #5aa9ff;
}

#ce_status
{
    float: right;
    width: 76px;
    text-align: center;
    color: white;
    background-color: #5c5c5c;
    border-radius: 2px;
    height: 18px;
    margin-top: -2px;
    margin-right: 6px;
    padding: 2px;
}
