/*
    N@TuRe - Super Tray theme

    File name: super_tray.css
    Description: This file contains the Super Tray theme CSS.

    Coded by George Delaportas (G0D)
    Copyright © 2021
    Open Software License (OSL 3.0)
*/

.super_tray
{
    float: right;
    clear: none;
    width: 32px;
    height: 32px;
    margin-top: 8px;
    margin-right: 28px;
}

.super_tray div
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.super_tray .access
{
    cursor: pointer;
    background: url('pix/down_arrow.png') no-repeat;
    width: 32px;
    height: 32px;
}

.service_icons_area
{
    display: none;
    position: absolute;
    background-color: #27272770;
    border: 2px solid #363a3c6e;
    box-shadow: 0 0 12px #282c2c5e !important;
    width: 180px;
    height: 120px;
    right: 280px;
    margin-top: 5px;
    z-index: 2147483644;
}

.super_tray_service
{
    cursor: pointer;
    float: left;
    clear: none;
    width: 30px;
    height: 30px;
}
