/*
    N@TuRe - Integrated LinkedIn theme (Default)

    File name: default.css
    Description: This file contains the Integrated LinkedIn default theme CSS.

    Coded by George Delaportas (G0D/ViR4X)
    Copyright © 2013 - 2021
    Open Software License (OSL 3.0)
*/

.i_linkedin_icon
{
    background-image: url('pix/logo.png') !important;
    margin-left: 0px;
    margin-top: 0px;
    height: 30px;
    width: 30px;
}

.i_linkedin_status_bar
{
    background-color: #2CC0B8;
}

.i_linkedin_msg
{
    color: #FFFFFF !important;
}

.linkedin_network_update_row_div
{
    margin-bottom: .5em;
}
