/*

    GreyOS Inc. - AJAX ULTRA Suggest theme
    
    Version: 1.0
    
    File name: us.css
    Description: This file contains the default ULTRA Suggest theme CSS.
    
    Coded by George Delaportas (G0D)
    
    GreyOS Inc.
    Copyright © 2013

*/



span:hover
{

    background-color: #B0B0B0;

}
