/*
    N@TuRe - Bee theme

    File name: bee.css
    Description: This file contains the Bee theme CSS.

    Coded by George Delaportas (G0D)
    Copyright © 2013 - 2022
    Open Software License (OSL 3.0)
*/

.gui
{
    position: absolute;
    display: none;
    opacity: 0.0;
    overflow: hidden;
    font-size: 12px;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 2px;
    border-color: #EAEAEA;
    border-radius: 6px;
    min-width: 260px;
    min-height: 130px;
    box-shadow: 0 0 12px #585e5e;
}

.gui:hover
{

}

.ctrl_bar
{
    position: relative;
    border-style: solid;
    border-width: 2px;
    border-radius: 6px;
    height: 30px;
    margin: 5px;
    padding: 2px;
    z-index: 1;
}

.box_ctrl_bar
{
    background-color: #2CC0B8;
    border-color: #E5E5E5;
}

.box_ctrl_bar:hover
{
    background-color: #3CD2C8;
}

.widget_ctrl_bar
{
    background-color: #f0f0f0;
    border-color: #E5E5E5;
}

.widget_ctrl_bar:hover
{
    background-color: #ffffff;
}

.icon
{
    float: left;
    clear: left;
    cursor: pointer;
    background-image: url('pix/window/cube_white.png');
    min-width: 30px;
    height: 30px;
    margin-left: 0px;
    margin-top: 0px;
}

.title
{
    float: left;
    cursor: default;
    font-size: 16px;
    text-align: left;
    width: 176px;
    min-width: 160px;
    height: 28px;
    margin-left: 2px;
    margin-top: -2px;
    padding: 2px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-top: 8px;
}

.box_title
{
    color: #FFFFFF;
}

.widget_title
{
    color: #5C5C5C;
}

.edit_win_title
{
    color: #5C5C5C;
    cursor: text;
    font-weight: normal;
    height: 11px;
    margin-top: 4px;
    border-radius: 2px;
}

.pencil
{
    float: left;
    cursor: pointer;
    background-image: url('pix/window/pencil.png');
    width: 16px;
    height: 16px;
    margin-top: 7px;
}

.separator
{
    float: right;
    clear: none;
    height: 23px;
    width: 1px;
    margin-right: 5px;
    margin-top: 4px;
}

.widget_separator
{
    border-left: 1px solid #DDDDDD;
}

.box_separator
{
    border-left: 1px solid #1DB6AC;
}

.close
{
    float: right;
    clear: right;
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
    text-align: center;
    width: 20px;
    height: 20px;
    margin-top: 9px;
    margin-right: 4px;
}

.box_close
{
    background-image: url('pix/window/close_1_1.png');
    width: 14px;
    height: 14px;
}

.box_close:hover
{
    background-image: url('pix/window/close_1_2.png');
}

.widget_close
{
    background-image: url('pix/window/close_2_1.png');
    width: 14px;
    height: 14px;
}

.widget_close:hover
{
    background-image: url('pix/window/close_2_2.png');
}

.close:hover
{
    color: #5C5C5C;
}

.menu
{
    position: fixed;
    display: none;
    cursor: pointer;
    font-size: 12px;
    background-color: #FFFFFF;
    color: #5C5C5C;
    min-width: 100px;
    min-height: 66px;
    border-style: solid;
    border-width: 2px;
    border-color: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0px 0px 5px #888888;
    margin-left: 6px;
    padding: 4px;
    overflow: hidden;
    z-index: 1;
}

.menu_option
{
    background-color: #E0E0E0;
    margin-top: 1px;
    padding: 4px;
}

.menu_option:hover
{
    color: #FFFFFF;
    background-color: #739DA7;
}

.content
{
    position: relative;
    clear: both;
    color: #5C5C5C;
    background-color: #FFFFFF;
    height: 100%;
    margin-left: 5px;
    margin-right: 5px;
    overflow: hidden;
    z-index: 0;
}

.data
{
    height: 100%;
    min-height: 42px;
    overflow: hidden;
    padding: 4px;
    z-index: 1;
}

.resize
{
    float: right;
    cursor: pointer;
    background: url('pix/window/resize.png') no-repeat;
    bottom: 0px;
    width: 16px;
    height: 16px;
    margin-top: 4px;
    margin-right: 4px;
    z-index: 1;
}

.restorer
{
    cursor: pointer;
    background-color: #695FFF;
    width: 10px;
    height: 18px;
    margin-left: 5px;
    margin-top: 5px;
}

.restorer:hover
{
    color: #FFFFFF;
}

.status_bar
{
    background-color: #ECECEC;
    position: relative;
    height: 26px;
    text-align: right;
    margin-top: -76px;
    padding: 2px;
    z-index: 1;
}

.status_msg
{
    float: left;
    color: #5C5C5C;
    font-size: 14px;
    text-align: left;
    width: 218px;
    min-width: 216px;
    margin-top: 4px;
    margin-left: 2px;
    padding: 2px;
    white-space: nowrap;
    overflow: hidden;
}

.dynamic_msg
{
    float: left;
}

.casement
{
    position: absolute;
    display: none;
    cursor: default;
    min-height: 130px;
    font-size: 12px;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 2px;
    border-color: #D3D3D3;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 12px #585e5e;
}

.casement_title
{
    color: #FFFFFF;
    background: #355056;
    height: 32px;
    font-size: 16px;
    text-align: left;
    padding-left: 8px;
    padding-top: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.casement_data
{
    color: #8E8E8E;
    background-color: #FFFFFF;
    height: 100%;
    padding: 4px;
    overflow: hidden;
}

.casement_status
{
    color: #FFFFFF;
    background: #484b4b;
    height: 48px;
    font-size: 14px;
    margin-top: -84px;
    padding-left: 8px;
    padding-top: 6px;
}

.marquee
{
    animation: marquee 5s linear 3s infinite alternate;
    -webkit-animation: marquee 5s linear 3s infinite alternate;
}

@keyframes marquee
{
    0%    { transform: translateX(0%); }
    10%   { transform: translateX(0%); }
    20%   { transform: translateX(-50%); }
    30%   { transform: translateX(-50%); }
    40%   { transform: translateX(-100%); }
    50%   { transform: translateX(-100%); }
    60%   { transform: translateX(-100%); }
    70%   { transform: translateX(-50%); }
    80%   { transform: translateX(-50%); }
    90%   { transform: translateX(0%); }
    100%  { transform: translateX(0%); }
}

@-webkit-keyframes marquee
{
    0%    { -webkit-transform: translateX(0%); }
    10%   { -webkit-transform: translateX(0%); }
    20%   { -webkit-transform: translateX(-50%); }
    30%   { -webkit-transform: translateX(-50%); }
    40%   { -webkit-transform: translateX(-100%); }
    50%   { -webkit-transform: translateX(-100%); }
    60%   { -webkit-transform: translateX(-100%); }
    70%   { -webkit-transform: translateX(-50%); }
    80%   { -webkit-transform: translateX(-50%); }
    90%   { -webkit-transform: translateX(0%); }
    100%  { -webkit-transform: translateX(0%); }
}

.brick
{
    display: none;
    background-color: #3D595D;
    border-style: solid;
    border-width: 2px;
    border-color: #000000;
    position: absolute;
    left: 0px;
    top: 0px;
    min-width: 100px;
    min-height: 30px;
}

.brick:hover
{
    background-color: #0A62A6;
}

.info
{
    display: none;
    float: right;
    clear: left;
    color: #FFFFFF;
    background-color: #000000;
    border-style: solid;
    border-width: 2px;
    border-color: #97AA99;
    font-size: 12px;
    left: 0px;
    top: 0px;
    margin-top: 5px;
    margin-right: 3px;
    width: 65px;
    height: 13px;
    padding: 2px;
    overflow: hidden;
}
